{{> Navigation }}
<section class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="text-center">

                <h2>Lilah Steel</h2>
                <div class="container-perfil-image">
                    <img class="img-perfil-artista" src="/images/artista4.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-12 col-md-1"></div>
        <div class="col-12 col-md-1"></div>
        <div class="col-12 col-md-10">
            <div class="row text-center mt-3">
                <div class="col-12 col-md-4">
                    <div class="text-left my-2 p-2">
                        <div>
                            <p class="artista-caracteristica"><strong>Categorías</strong></p>
                        </div>
                        <div>
                            <p class="artista-caracteristica-valor" style="font-family: 'MontserratThin';">Fotografía -
                                Escultura</p>
                        </div>
                        <div>
                            <p class="artista-caracteristica"><strong>Inicio de Carrera</strong></p>
                        </div>
                        <div>
                            <p class="artista-caracteristica-valor" style="font-family: 'MontserratThin';">New
                                Hampshire, 2014</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="text-left my-2 p-2">
                        <div>
                            <p class="artista-caracteristica"><strong>Técnica Principal</strong></p>
                        </div>
                        <div>
                            <p class="artista-caracteristica-valor" style="font-family: 'MontserratThin';">Figura exenta
                                -
                                Retratos</p>
                        </div>
                        <div>
                            <p class="artista-caracteristica"><strong>Ubicación</strong></p>
                        </div>
                        <div>
                            <p class="artista-caracteristica-valor" style="font-family: 'MontserratThin';">Colonia,
                                Alemania</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="text-left my-2 p-2">
                        <div>
                            <p class="artista-caracteristica"><strong>Última obra</strong></p>
                        </div>
                        <div>
                            <p class="artista-caracteristica-valor" style="font-family: 'MontserratThin';"><a href="#"
                                    class="coleccion-perfil-artista gold">El Nudo</a></p>
                        </div>
                        <div>
                            <p class="artista-caracteristica"><strong>Estilos</strong></p>
                        </div>
                        <div>
                            <p class="artista-caracteristica-valor" style="font-family: 'MontserratThin';">Abstracto,
                                Cubismo, Blanco y negro</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="row text-center gray">
        <div class="col-12 text-left">
            <h2 class="m-3">
                <strong>
                    Biografía
                </strong>
            </h2>
        </div>
        <div class="col-12 biografia-artista">
            <p class="p-3">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas non quidem quae, consequatur veniam
                nam reprehenderit cum beatae rem facere nulla provident culpa aliquid assumenda! Saepe non iure aliquam
                est. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ex itaque sunt mollitia,
                laudantium omnis numquam voluptatum sint reprehenderit saepe rem. Veniam repellendus reiciendis rem
                alias exercitationem. Officiis, modi atque. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Enim deserunt dolorem totam, commodi, nulla, in molestiae quisquam dolorum molestias voluptatem
                exercitationem laboriosam veniam fuga rem praesentium possimus quo cupiditate porro.
            </p>
        </div>
        <div class="col-12 text-right">
            <button class="btn-compra badge-pill">Galería</button>
        </div>
    </div>
</section>
<section class="container">
    <div class="row my-4">
        <div class="col-12 col-md-6">
            <div class="m-3">
                <h3>
                    Colecciones
                </h3>
            </div>
            <div>
                <a class="coleccion-perfil-artista" href="#">
                    <p>La vie en Noir</p>
                </a>
                <hr class="gray">
                <a class="coleccion-perfil-artista" href="#">
                    <p>Rostros de la Calle</p>
                </a>
                <hr class="gray">
                <a class="coleccion-perfil-artista" href="#">
                    <p>Metal Fluido</p>
                </a>
                <hr class="gray">
                <a class="coleccion-perfil-artista" href="#">
                    <p>Aborigen Moderno</p>
                </a>
                <hr class="gray">
                <a class="coleccion-perfil-artista" href="#">
                    <p>Espejos de Acero</p>
                </a>
                <hr class="gray">
                <a class="coleccion-perfil-artista" href="#">
                    <p>Juventud Clemente</p>
                </a>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="m-3">
                <h3>
                    Próximos eventos
                </h3>
            </div>
            <div class="card text-white proximo-evento-perfil" style="max-height: 130px;">
                <img src="/images/retrato4.png" style="" alt="" class="card-img img-proximo-evento">
                <div class="card-img-overlay">
                    <h5 class="card-title">
                        <a href="#" class="titulo-evento-perfil">Rostro del tiempo</a>
                    </h5>
                    <p class="card-text">Galeria Brunoise</p>
                    <p class="card-text text-muted">25 de abril 2020s</p>
                </div>
            </div>
            <div class="card text-white proximo-evento-perfil" style="max-height: 130px;">
                <img src="/images/retrato2.jpg" style="" alt="" class="card-img img-proximo-evento">
                <div class="card-img-overlay">
                    <h5 class="card-title">
                        <a href="#" class="titulo-evento-perfil">Gritos de la Calle</a>
                    </h5>
                    <p class="card-text">Galeria Brunoise</p>
                    <p class="card-text text-muted">25 de abril 2020s</p>
                </div>
            </div>
            <button class="text-right btn-compra badge-pill">Ver más</button>
        </div>
    </div>
</section>
<div class="timeline-container" id="timeline-1">
    <div class="timeline-header">
        <h2 class="timeline-header__title">Cronología Artistica</h2>
        <h3 class="timeline-header__subtitle">Lilah Steel</h3>
    </div>
    <div class="timeline">
        <div class="timeline-item" data-text="DISCRIMINADOS INOCENTES">
            <div class="timeline__content"><img class="timeline__img"
                    src="/images/retrato1.jpg" />
                <h2 class="timeline__content-title">2014</h2>
                <p class="timeline__content-desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum voluptas aliquam veniam possimus non quisquam deserunt quas! Et mollitia dolorum totam praesentium nihil vel dicta. Corporis, reiciendis perspiciatis. Quod, modi.</p>
            </div>
        </div>
        <div class="timeline-item" data-text="GRITO DE LAS CALLES">
            <div class="timeline__content"><img class="timeline__img"
                    src="/images/retrato2.jpg" />
                <h2 class="timeline__content-title">2014</h2>
                <p class="timeline__content-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse autem, sint debitis ducimus a quia nulla. Nulla nam facilis eligendi, quibusdam tenetur dolorem porro officiis. Ratione pariatur dolorum saepe ut.</p>
            </div>
        </div>
        <div class="timeline-item" data-text="CLEMENCIA">
            <div class="timeline__content"><img class="timeline__img" src="/images/retrato3.jpg" />
                <h2 class="timeline__content-title">2014</h2>
                <p class="timeline__content-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non enim autem natus accusantium maxime sint voluptatem iusto. Fuga iste harum dignissimos nihil provident reprehenderit qui consequatur illo at, iure modi.</p>
            </div>
        </div>
        <div class="timeline-item" data-text="MIRADA DEL TIEMPO">
            <div class="timeline__content"><img class="timeline__img"
                    src="/images/retrato4.png" />
                <h2 class="timeline__content-title">2015</h2>
                <p class="timeline__content-desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi fugiat consequuntur nostrum facilis asperiores, tempore ad, rerum error repellendus odio vitae laudantium ipsa molestiae blanditiis, ducimus obcaecati expedita. Numquam, labore!</p>
            </div>
        </div>
        <div class="timeline-item" data-text="MUSAS">
            <div class="timeline__content"><img class="timeline__img"
                    src="/images/retrato5.jpg" />
                <h2 class="timeline__content-title">2015</h2>
                <p class="timeline__content-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati nesciunt sapiente facere aliquid vero beatae! Animi quia corrupti sed, distinctio hic voluptatem dolore aliquid non corporis suscipit quisquam dicta dolorum?</p>
            </div>
        </div>
        <div class="timeline-item" data-text="MUSAS">
            <div class="timeline__content"><img class="timeline__img"
                    src="/images/retrato6.jpg" />
                <h2 class="timeline__content-title">2016</h2>
                <p class="timeline__content-desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui expedita aliquid eligendi? Illo labore repudiandae error aut illum nesciunt deleniti, totam, est eum ratione qui eligendi sit? Facilis, consectetur voluptatibus!</p>
            </div>
        </div>
        <div class="timeline-item" data-text="ABORIGEN MODERNO">
            <div class="timeline__content"><img class="timeline__img"
                    src="/images/statue1.png" />
                <h2 class="timeline__content-title">2016</h2>
                <p class="timeline__content-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum totam iste odio qui voluptas fugit repellat, in, ullam veritatis corrupti ex. Officia tempore non numquam veritatis mollitia iure similique voluptatum.</p>
            </div>
        </div>
        <div class="timeline-item" data-text="EL NUDO">
            <div class="timeline__content"><img class="timeline__img" src="/images/statue2.jpg" />
                <h2 class="timeline__content-title">2017</h2>
                <p class="timeline__content-desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe ex accusantium rerum temporibus molestiae nulla doloribus eos iure impedit eligendi ducimus debitis quos blanditiis qui et illo a, iusto consectetur?</p>
            </div>
        </div>
        <div class="timeline-item" data-text="ESPEJOS DE ACERO">
            <div class="timeline__content"><img class="timeline__img"
                    src="/images/statue3.jpg" />
                <h2 class="timeline__content-title">2017</h2>
                <p class="timeline__content-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit reprehenderit labore sapiente voluptas unde obcaecati esse magnam accusantium dolore? Repellat nam fugiat exercitationem repudiandae dolores dolor in ipsa vitae quidem.</p>
            </div>
        </div>
        <div class="timeline-item" data-text="EL NUDO">
            <div class="timeline__content"><img class="timeline__img"
                    src="/images/statue4.png" />
                <h2 class="timeline__content-title">2017</h2>
                <p class="timeline__content-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur nemo esse corporis suscipit. Doloribus vel ea, dicta repellendus magni debitis maxime id inventore laborum asperiores odio perspiciatis earum quasi quia.</p>
            </div>
        </div>
        <div class="timeline-item" data-text="PLUMAJE">
            <div class="timeline__content"><img class="timeline__img"
                    src="/images/statue5.jpg" />
                <h2 class="timeline__content-title">2018</h2>
                <p class="timeline__content-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi eius quasi in quam tempora dignissimos earum ducimus fugit obcaecati, saepe perspiciatis, illum nesciunt molestias laudantium animi! Fugiat nam quas placeat.</p>
            </div>
        </div>
        <div class="timeline-item" data-text="CRONOSCOPIA">
            <div class="timeline__content"><img class="timeline__img"
                    src="/images/statue6.jpg" />
                <h2 class="timeline__content-title">2019</h2>
                <p class="timeline__content-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis repudiandae consectetur harum sint atque laudantium! Sed tempore necessitatibus impedit eos nesciunt, ratione dignissimos sit tenetur quia sunt odit quis inventore.</p>
            </div>
        </div>
    </div>
</div>
{{> Footer }}

<script>
    (function ($) {
        $.fn.timeline = function () {
            var selectors = {
                id: $(this),
                item: $(this).find(".timeline-item"),
                activeClass: "timeline-item--active",
                img: ".timeline__img"
            };
            selectors.item.eq(0).addClass(selectors.activeClass);
            selectors.id.css(
                "background-image",
                "url(" +
                selectors.item
                    .first()
                    .find(selectors.img)
                    .attr("src") +
                ")"
            );
            var itemLength = selectors.item.length;
            $(window).scroll(function () {
                var max, min;
                var pos = $(this).scrollTop();
                selectors.item.each(function (i) {
                    min = $(this).offset().top;
                    max = $(this).height() + $(this).offset().top;
                    var that = $(this);
                    if (i == itemLength - 2 && pos > min + $(this).height() / 2) {
                        selectors.item.removeClass(selectors.activeClass);
                        selectors.id.css(
                            "background-image",
                            "url(" +
                            selectors.item
                                .last()
                                .find(selectors.img)
                                .attr("src") +
                            ")"
                        );
                        selectors.item.last().addClass(selectors.activeClass);
                    } else if (pos <= max - 40 && pos >= min) {
                        selectors.id.css(
                            "background-image",
                            "url(" +
                            $(this)
                                .find(selectors.img)
                                .attr("src") +
                            ")"
                        );
                        selectors.item.removeClass(selectors.activeClass);
                        $(this).addClass(selectors.activeClass);
                    }
                });
            });
        };
    })(jQuery);
    $("#timeline-1").timeline();
</script>