{{> Navigation }}
<div class="container inicial">
    <div class="content">
        <div class="title m-5">
            <h2>Mis Compras</h2>
        </div>
        <div class="section ventas">
            <div class="tabla mis-ventas">
                <table class="table table-borderless my-5">
                    <thead style="background-color: #bda00899;">
                        <tr>
                            <th scope="col">Obra</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Ubicación</th>
                            <th scope="col">Estimado</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Pagar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <!-- Enlace a la obra y a la página del artista -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a><a href="#" class="artista-tabla"><h3>Vincent Van Gogh</h3></a></td>
                            <!-- Cantidad de obras a comprar (segun el contador que se agregará -->
                            <td>3</td>
                            <!-- Ubicación de la obra -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo estimado de envio (Esto es tentativo, quisiera hablar contigo sobre como definirlo) -->
                            <td>2 Semanas</td>
                            <!-- Precio de la obra -->
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Botón para pagar esta obra exclusivamente -->
                            <td><button class="badge-pagar">Pagar</button></td>
                        </tr>
                        <tr>
                            <!-- Enlace a la obra y a la página del artista -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a><a href="#" class="artista-tabla"><h3>Vincent Van Gogh</h3></a></td>
                            <!-- Cantidad de obras a comprar (segun el contador que se agregará -->
                            <td>3</td>
                            <!-- Ubicación de la obra -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo estimado de envio (Esto es tentativo, quisiera hablar contigo sobre como definirlo) -->
                            <td>2 Semanas</td>
                            <!-- Precio de la obra -->
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Botón para pagar esta obra exclusivamente -->
                            <td><button class="badge-pagar">Pagar</button></td>
                        </tr>
                        <tr>
                            <!-- Enlace a la obra y a la página del artista -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a><a href="#" class="artista-tabla"><h3>Vincent Van Gogh</h3></a></td>
                            <!-- Cantidad de obras a comprar (segun el contador que se agregará -->
                            <td>3</td>
                            <!-- Ubicación de la obra -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo estimado de envio (Esto es tentativo, quisiera hablar contigo sobre como definirlo) -->
                            <td>2 Semanas</td>
                            <!-- Precio de la obra -->
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Botón para pagar esta obra exclusivamente -->
                            <td><button class="badge-pagar">Pagar</button></td>
                        </tr>
                        <tr>
                            <!-- Enlace a la obra y a la página del artista -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a><a href="#" class="artista-tabla"><h3>Vincent Van Gogh</h3></a></td>
                            <!-- Cantidad de obras a comprar (segun el contador que se agregará -->
                            <td>3</td>
                            <!-- Ubicación de la obra -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo estimado de envio (Esto es tentativo, quisiera hablar contigo sobre como definirlo) -->
                            <td>2 Semanas</td>
                            <!-- Precio de la obra -->
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Botón para pagar esta obra exclusivamente -->
                            <td><button class="badge-pagar">Pagar</button></td>
                        </tr>
                        <tr>
                            <!-- Enlace a la obra y a la página del artista -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a><a href="#" class="artista-tabla"><h3>Vincent Van Gogh</h3></a></td>
                            <!-- Cantidad de obras a comprar (segun el contador que se agregará -->
                            <td>3</td>
                            <!-- Ubicación de la obra -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo estimado de envio (Esto es tentativo, quisiera hablar contigo sobre como definirlo) -->
                            <td>2 Semanas</td>
                            <!-- Precio de la obra -->
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Botón para pagar esta obra exclusivamente -->
                            <td><button class="badge-pagar">Pagar</button></td>
                        </tr>
                        <tr>
                            <!-- Enlace a la obra y a la página del artista -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a><a href="#" class="artista-tabla"><h3>Vincent Van Gogh</h3></a></td>
                            <!-- Cantidad de obras a comprar (segun el contador que se agregará -->
                            <td>3</td>
                            <!-- Ubicación de la obra -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo estimado de envio (Esto es tentativo, quisiera hablar contigo sobre como definirlo) -->
                            <td>2 Semanas</td>
                            <!-- Precio de la obra -->
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Botón para pagar esta obra exclusivamente -->
                            <td><button class="badge-pagar">Pagar</button></td>
                        </tr>
                        <tr>
                            <!-- Enlace a la obra y a la página del artista -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a><a href="#" class="artista-tabla"><h3>Vincent Van Gogh</h3></a></td>
                            <!-- Cantidad de obras a comprar (segun el contador que se agregará -->
                            <td>3</td>
                            <!-- Ubicación de la obra -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo estimado de envio (Esto es tentativo, quisiera hablar contigo sobre como definirlo) -->
                            <td>2 Semanas</td>
                            <!-- Precio de la obra -->
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Botón para pagar esta obra exclusivamente -->
                            <td><button class="badge-pagar">Pagar</button></td>
                        </tr>
                        <tr>
                            <!-- Enlace a la obra y a la página del artista -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a><a href="#" class="artista-tabla"><h3>Vincent Van Gogh</h3></a></td>
                            <!-- Cantidad de obras a comprar (segun el contador que se agregará -->
                            <td>3</td>
                            <!-- Ubicación de la obra -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo estimado de envio (Esto es tentativo, quisiera hablar contigo sobre como definirlo) -->
                            <td>2 Semanas</td>
                            <!-- Precio de la obra -->
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Botón para pagar esta obra exclusivamente -->
                            <td><button class="badge-pagar">Pagar</button></td>
                        </tr>
                        <tr>
                            <!-- Enlace a la obra y a la página del artista -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a><a href="#" class="artista-tabla"><h3>Vincent Van Gogh</h3></a></td>
                            <!-- Cantidad de obras a comprar (segun el contador que se agregará -->
                            <td>3</td>
                            <!-- Ubicación de la obra -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo estimado de envio (Esto es tentativo, quisiera hablar contigo sobre como definirlo) -->
                            <td>2 Semanas</td>
                            <!-- Precio de la obra -->
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Botón para pagar esta obra exclusivamente -->
                            <td><button class="badge-pagar">Pagar</button></td>
                        </tr>
                        <tr>
                            <!-- Enlace a la obra y a la página del artista -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a><a href="#" class="artista-tabla"><h3>Vincent Van Gogh</h3></a></td>
                            <!-- Cantidad de obras a comprar (segun el contador que se agregará -->
                            <td>3</td>
                            <!-- Ubicación de la obra -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo estimado de envio (Esto es tentativo, quisiera hablar contigo sobre como definirlo) -->
                            <td>2 Semanas</td>
                            <!-- Precio de la obra -->
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Botón para pagar esta obra exclusivamente -->
                            <td><button class="badge-pagar">Pagar</button></td>
                        </tr>
                        <tr>
                            <!-- Enlace a la obra y a la página del artista -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a><a href="#" class="artista-tabla"><h3>Vincent Van Gogh</h3></a></td>
                            <!-- Cantidad de obras a comprar (segun el contador que se agregará -->
                            <td>3</td>
                            <!-- Ubicación de la obra -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo estimado de envio (Esto es tentativo, quisiera hablar contigo sobre como definirlo) -->
                            <td>2 Semanas</td>
                            <!-- Precio de la obra -->
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Botón para pagar esta obra exclusivamente -->
                            <td><button class="badge-pagar">Pagar</button></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><button class="badge-pagar">Pagar Todos</button></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
{{> Footer }}