{{> Navigation }}

<section class="container inicial">
    <div class="content">
        <div class="row mb-5">
            <div class="col-12 col-lg-8">
                <h1>El Impresionismo de Monet</h1>
                <h4 class="gold">Galería Este, Museo del Prado</h4>
            </div>
            <div class="col-12 col-lg-4">
                <div class="row">
                    <div class="col-6">
                        <small class="font-weight-bold m-0">Fecha de Inicio</small><br>
                        <small class="font-weight-bold m-0">Fecha de Fin</small>
                    </div>
                    <div class="col-6">
                        <small class="gold m-0">14 de Abril del 2020</small> <br>
                        <small class="gold m-0">24 de Abril del 2020</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12 col-lg-6">
                <div class="evento-muestra">
                    <div class="evento-muestra-container">
                        <div class="img-container-evento">
                            <a href="images/monet1.jpeg">
                                <img class="img-fluid position-absolute evento-foto-uno evento-fotos"
                                    src="images/monet1.jpeg" alt="">
                            </a>
                        </div>
                        <div class="img-container-evento">
                            <a href="images/monet2.jpg">
                                <img class="img-fluid position-absolute evento-foto-dos evento-fotos"
                                    src="images/monet2.jpg" alt="">
                            </a>
                        </div>
                        <div class="img-container-evento">
                            <a href="images/monet3.jpg">
                                <img class="img-fluid position-absolute evento-foto-tres evento-fotos"
                                    src="images/monet3.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <h2 class="gold">Monet bajo una nueva lupa</h2>
                <br>
                <p class="text-muted">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem ullam ut deleniti suscipit! Error
                    ratione fugit quaerat beatae expedita sed, explicabo esse veniam et nostrum quam? Impedit similique
                    ad adipisci voluptate ducimus molestias tempore consectetur!
                </p>
                <p class="text-muted">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure unde commodi ratione, amet nostrum
                    nemo excepturi error repellat dolorum, labore incidunt rerum facere at modi voluptatum debitis quasi
                    autem quis aperiam! Ut dolores maxime, corrupti fugiat dolorum dignissimos accusantium ullam.
                </p>
                <p class="text-muted">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio vitae perspiciatis incidunt rerum.
                    Quasi doloremque id facere cum voluptas pariatur nulla ut doloribus animi aspernatur, nobis nostrum.
                    Corrupti officiis soluta molestiae fuga fugiat mollitia vitae, adipisci neque!
                </p>
                <p class="text-muted">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sint eius natus temporibus reiciendis
                    velit doloremque quae iure provident aut architecto praesentium magnam cum ut labore, perferendis
                    neque odit nemo modi laborum, ullam earum. Voluptas debitis dolorem optio eligendi culpa eum minima
                    ad, modi quidem quibusdam vero labore error molestiae.
                </p>
                <h5 class="font-weight-bold">Número de obras</h5>
                <p class="text-muted">12 Piezas</p>
                <h5 class="font-weight-bold">Artistas</h5>
                <p class="m-0">
                    <a href="" class="artista-tabla">Claude Monet</a>
                </p>
                <p class="m-0">
                    <a href="" class="artista-tabla">Claude Monet 2</a>
                </p>
                <p class="">
                    <a href="" class="artista-tabla">Claude Monet 3</a>
                </p>
                <h5 class="font-weight-bold">Estilo</h5>
                <p class="text-muted">Impresionismo</p>
            </div>
        </div>
    </div>
</section>

{{> Footer }}