{{> Navigation }}
<div class="container inicial">
    <div class="content">
        <div class="title m-5">
            <h2>Mis Pedidos</h2>
        </div>
        <div class="section pedidos">
            <div class="tabla mis-pedidos">
                <table class="table table-borderless my-5">
                    <thead style="background-color: #bda00899;">
                        <tr>
                            <th scope="col">Obra</th>
                            <th scope="col">Ubicación</th>
                            <th scope="col">Estimado</th>
                            <th scope="col">Precio</th>
                            <th scope="col"> <span class="badge-recibido">Estado</span></th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <!-- Enlace a los detalles de la obra y a la página del artista -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a><a href="#" class="artista-tabla"><h3 class="text-muted">Vincent Van Gogh</h3></a></td>
                            <!-- Ubicación de la obra -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo estimado de envio, antes de que se defina aparece como "-" o vacio -->
                            <td>Sin Enviar</td>
                            <!-- Precio designado por el artista -->
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Estado de la transacción -->
                            <td><span class="badge-pagado">Pagado</span></td>
                            <!-- Contacto con el artista o reclamo a los de ArteLibre -->
                            <td>Contacto / Alerta</td>
                        </tr>
                        <tr>
                            <!-- Enlace a los detalles de la obra y a la página del artista -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a><a href="#" class="artista-tabla"><h3 class="text-muted">Vincent Van Gogh</h3></a></td>
                            <!-- Ubicación de la obra -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo estimado de envio, antes de que se defina aparece como "-" o vacio -->
                            <td>2 Semanas</td>
                            <!-- Precio designado por el artista -->
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Estado de la transacción -->
                            <td><span class="badge-enviado">Enviado</span></td>
                            <!-- Contacto con el artista o reclamo a los de ArteLibre -->
                            <td>Contacto / Alerta</td>
                        </tr>
                        <tr>
                            <!-- Enlace a los detalles de la obra y a la página del artista -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a><a href="#" class="artista-tabla"><h3 class="text-muted">Vincent Van Gogh</h3></a></td>
                            <!-- Ubicación de la obra -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo estimado de envio, antes de que se defina aparece como "-" o vacio -->
                            <td>-</td>
                            <!-- Precio designado por el artista -->
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Estado de la transacción -->
                            <td><span class="badge-pendiente">Pendiente</span></td>
                            <!-- Contacto con el artista o reclamo a los de ArteLibre -->
                            <td>Contacto / Alerta</td>
                        </tr>
                        <tr>
                            <!-- Enlace a los detalles de la obra y a la página del artista -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a><a href="#" class="artista-tabla"><h3 class="text-muted">Vincent Van Gogh</h3></a></td>
                            <!-- Ubicación de la obra -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo estimado de envio, antes de que se defina aparece como "-" o vacio -->
                            <td>-</td>
                            <!-- Precio designado por el artista -->
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Estado de la transacción -->
                            <td><span class="badge-pendiente">Pendiente</span></td>
                            <!-- Contacto con el artista o reclamo a los de ArteLibre -->
                            <td>Contacto / Alerta</td>
                        </tr>
                        <tr>
                            <!-- Enlace a los detalles de la obra y a la página del artista -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a><a href="#" class="artista-tabla"><h3 class="text-muted">Vincent Van Gogh</h3></a></td>
                            <!-- Ubicación de la obra -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo estimado de envio, antes de que se defina aparece como "-" o vacio -->
                            <td>Recibido</td>
                            <!-- Precio designado por el artista -->
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Estado de la transacción -->
                            <td><span class="badge-recibido">Recibido</span></td>
                            <!-- Contacto con el artista o reclamo a los de ArteLibre -->
                            <td>Contacto / Alerta</td>
                        </tr>
                        <tr>
                            <!-- Enlace a los detalles de la obra y a la página del artista -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a><a href="#" class="artista-tabla"><h3 class="text-muted">Vincent Van Gogh</h3></a></td>
                            <!-- Ubicación de la obra -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo estimado de envio, antes de que se defina aparece como "-" o vacio -->
                            <td>Recibido</td>
                            <!-- Precio designado por el artista -->
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Estado de la transacción -->
                            <td><span class="badge-recibido">Recibido</span></td>
                            <!-- Contacto con el artista o reclamo a los de ArteLibre -->
                            <td>Contacto / Alerta</td>
                        </tr>
                        <tr>
                            <!-- Enlace a los detalles de la obra y a la página del artista -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a><a href="#" class="artista-tabla"><h3 class="text-muted">Vincent Van Gogh</h3></a></td>
                            <!-- Ubicación de la obra -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo estimado de envio, antes de que se defina aparece como "-" o vacio -->
                            <td>Recibido</td>
                            <!-- Precio designado por el artista -->
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Estado de la transacción -->
                            <td><span class="badge-recibido">Recibido</span></td>
                            <!-- Contacto con el artista o reclamo a los de ArteLibre -->
                            <td>Contacto / Alerta</td>
                        </tr>
                        <tr>
                            <!-- Enlace a los detalles de la obra y a la página del artista -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a><a href="#" class="artista-tabla"><h3 class="text-muted">Vincent Van Gogh</h3></a></td>
                            <!-- Ubicación de la obra -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo estimado de envio, antes de que se defina aparece como "-" o vacio -->
                            <td>Recibido</td>
                            <!-- Precio designado por el artista -->
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Estado de la transacción -->
                            <td><span class="badge-recibido">Recibido</span></td>
                            <!-- Contacto con el artista o reclamo a los de ArteLibre -->
                            <td>Contacto / Alerta</td>
                        </tr>
                        <tr>
                            <!-- Enlace a los detalles de la obra y a la página del artista -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a><a href="#" class="artista-tabla"><h3 class="text-muted">Vincent Van Gogh</h3></a></td>
                            <!-- Ubicación de la obra -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo estimado de envio, antes de que se defina aparece como "-" o vacio -->
                            <td>Recibido</td>
                            <!-- Precio designado por el artista -->
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Estado de la transacción -->
                            <td><span class="badge-recibido">Recibido</span></td>
                            <!-- Contacto con el artista o reclamo a los de ArteLibre -->
                            <td>Contacto / Alerta</td>
                        </tr>
                        <tr>
                            <!-- Enlace a los detalles de la obra y a la página del artista -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a><a href="#" class="artista-tabla"><h3 class="text-muted">Vincent Van Gogh</h3></a></td>
                            <!-- Ubicación de la obra -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo estimado de envio, antes de que se defina aparece como "-" o vacio -->
                            <td>Recibido</td>
                            <!-- Precio designado por el artista -->
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Estado de la transacción -->
                            <td><span class="badge-recibido">Recibido</span></td>
                            <!-- Contacto con el artista o reclamo a los de ArteLibre -->
                            <td>Contacto / Alerta</td>
                        </tr>
                        <tr>
                            <!-- Enlace a los detalles de la obra y a la página del artista -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a><a href="#" class="artista-tabla"><h3 class="text-muted">Vincent Van Gogh</h3></a></td>
                            <!-- Ubicación de la obra -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo estimado de envio, antes de que se defina aparece como "-" o vacio -->
                            <td>Recibido</td>
                            <!-- Precio designado por el artista -->
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Estado de la transacción -->
                            <td><span class="badge-recibido">Recibido</span></td>
                            <!-- Contacto con el artista o reclamo a los de ArteLibre -->
                            <td>Contacto / Alerta</td>
                        </tr>
                        <tr>
                            <!-- Enlace a los detalles de la obra y a la página del artista -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a><a href="#" class="artista-tabla"><h3 class="text-muted">Vincent Van Gogh</h3></a></td>
                            <!-- Ubicación de la obra -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo estimado de envio, antes de que se defina aparece como "-" o vacio -->
                            <td>Recibido</td>
                            <!-- Precio designado por el artista -->
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Estado de la transacción -->
                            <td><span class="badge-recibido">Recibido</span></td>
                            <!-- Contacto con el artista o reclamo a los de ArteLibre -->
                            <td>Contacto / Alerta</td>
                        </tr>
                        <tr>
                            <!-- Enlace a los detalles de la obra y a la página del artista -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a><a href="#" class="artista-tabla"><h3 class="text-muted">Vincent Van Gogh</h3></a></td>
                            <!-- Ubicación de la obra -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo estimado de envio, antes de que se defina aparece como "-" o vacio -->
                            <td>Recibido</td>
                            <!-- Precio designado por el artista -->
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Estado de la transacción -->
                            <td><span class="badge-recibido">Recibido</span></td>
                            <!-- Contacto con el artista o reclamo a los de ArteLibre -->
                            <td>Contacto / Alerta</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{{> Footer }}