{{> Navigation }}
<section class="container" style="margin-top: 5em;">
    <div class="row">
        <div class="col-12 col-lg-6 col-md-6">
            <div id="image-artwork" class="text-center">
                <div class="carousel-wrapper-outer mt-5" style="overflow: hidden;">
                    <div class="carousel-wrapper-inner">
                        <div class="owl-carousel owl-theme">
                            <img class="item" src="./images/vangogh1.jpg" style="max-width: 500px;" alt="Pintura">
                            <img class="item" src="./images/vangogh1.jpg" style="max-width: 500px;" alt="Pintura">
                            <img class="item" src="./images/vangogh1.jpg" style="max-width: 500px;" alt="Pintura">
                            <img class="item" src="./images/vangogh1.jpg" style="max-width: 500px;" alt="Pintura">
                            <img class="item" src="./images/vangogh1.jpg" style="max-width: 500px;" alt="Pintura">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 col-md-6">
            <h1 class="gold mb-4 mt-5">Jarrón con doce girasoles</h1>
            <p class="precio-obra">
                <strong>
                    175.500 MXN
                </strong>
            </p>
            <h2 class="elemento-obra obra-coleccion">Colección: <a href="#">Los Girasoles</a></h2>
            <h2 class="elemento-obra obra-artista"><a href="#">Vincent Van Gogh</a></h2>
            <div class="my-5">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nulla blanditiis impedit
                    nam reprehenderit itaque quidem? Molestias ea blanditiis ab explicabo cupiditate. Excepturi
                    deserunt quod mollitia natus ducimus quam similique.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nulla blanditiis impedit
                    nam reprehenderit itaque quidem? Molestias ea blanditiis ab explicabo cupiditate. Excepturi
                    deserunt quod mollitia natus ducimus quam similique.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nulla blanditiis impedit
                    nam reprehenderit itaque quidem? Molestias ea blanditiis ab explicabo cupiditate. Excepturi
                    deserunt quod mollitia natus ducimus quam similique.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nulla blanditiis impedit
                    nam reprehenderit itaque quidem? Molestias ea blanditiis ab explicabo cupiditate. Excepturi
                    deserunt quod mollitia natus ducimus quam similique.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nulla blanditiis impedit
                    nam reprehenderit itaque quidem? Molestias ea blanditiis ab explicabo cupiditate. Excepturi
                    deserunt quod mollitia natus ducimus quam similique.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nulla blanditiis impedit
                    nam reprehenderit itaque quidem? Molestias ea blanditiis ab explicabo cupiditate. Excepturi
                    deserunt quod mollitia natus ducimus quam similique.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nulla blanditiis impedit
                    nam reprehenderit itaque quidem? Molestias ea blanditiis ab explicabo cupiditate. Excepturi
                    deserunt quod mollitia natus ducimus quam similique.
                </p>
            </div>
            <div class="my-3">
                <h2 class="elemento-obra obra-dato">Dimensiones</h2>
                <h3 class="elemento-obra obra-dato-valor">91 x 72 cm</h3>
            </div>
            <div class="my-3">
                <h2 class="elemento-obra obra-dato">Creacion</h2>
                <h3 class="elemento-obra obra-dato-valor">Arles, Agosto 1888</h3>
            </div>
            <div class="my-3">
                <h2 class="elemento-obra obra-dato">Técnica</h2>
                <h3 class="elemento-obra obra-dato-valor">Oleo sobre lienzo</h3>
            </div>
            <div class="my-3">
                <h2 class="elemento-obra obra-dato">Estilo</h2>
                <h3 class="elemento-obra obra-dato-valor">Moderno</h3>
            </div>
            <div class="mt-1 mb-5">
                <button class="badge badge-pill btn-compra">COMPRAR</button>
            </div>
        </div>
    </div>
</section>
<section class="container obras-recomendadas">
    <div class="row py-3 text-center">
        <div class="col-12">
            <div class="text-left">
                <h3>Te puede interear</h3>
            </div>
        </div>
        <div class="col-12">
            <div class="card-group">

                <div class="card">
                    <a href="">
                        <img src="./images/boguereau1.jpg" class="obra-recomendada card-img-top" alt="">
                    </a>
                    <div class="card-body text-left">
                        <h5 class="card-title">Joven bebiendo agua</h5>
                        <p class="card-text text-muted">185.000 MXN</p>
                        <p class="card-text"><small class="text-muted">Fecha: 02/15/2020</small></p>
                    </div>
                </div>
                <div class="card">
                    <a href="">
                        <img src="./images/vangogh2.jpg" class="obra-recomendada card-img-top" alt="">
                    </a>
                    <div class="card-body text-left">
                        <h5 class="card-title">La Habitación</h5>
                        <p class="card-text text-muted">185.000 MXN</p>
                        <p class="card-text"><small class="text-muted">Fecha: 02/15/2020</small></p>
                    </div>
                </div>
                <div class="card">
                    <a href="">
                        <img src="./images/vangogh3.jpg" class="obra-recomendada card-img-top" alt="">
                    </a>
                    <div class="card-body text-left">
                        <h5 class="card-title">Noche Estrellada</h5>
                        <p class="card-text text-muted">185.000 MXN</p>
                        <p class="card-text"><small class="text-muted">Fecha: 02/15/2020</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{> Footer }}

<script>
    $(document).ready(function () {
        var divAWidth = $('#carousal-wrapper-outer').css('width');
        $('#carousal-wrapper-inner').css('width', divAWidth);
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 25,
            items: 1

        })

    });
</script>