{{> Navigation }}

<section class="container inicial">
    <div class="row">
        <div class="col-12 col-lg-6 col-md-6">
            <div id="image-artwork" class="text-center">
                <div class="carousel-wrapper-outer mt-5" style="overflow: hidden;">
                    <div class="carousel-wrapper-inner">
                        <div class="owl-carousel owl-theme">
                            <img class="item" src="/images/vangogh1.jpg" style="max-width: 500px;" alt="Pintura">
                            <img class="item" src="/images/vangogh1.jpg" style="max-width: 500px;" alt="Pintura">
                            <img class="item" src="/images/vangogh1.jpg" style="max-width: 500px;" alt="Pintura">
                            <img class="item" src="/images/vangogh1.jpg" style="max-width: 500px;" alt="Pintura">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-12 col-lg-6 col-md-6">
            <h1 class="gold mb-4 mt-5">Jarrón con Doce Girasoles</h1>
            <small class="text-muted">Última oferta hace: X</small>
            <p class="precio-obra">Puja actual:
                <strong id="precio">
                </strong>
            </p>

            <p class="elemento-obra obra-coleccion">Tiempo Restante: <strong>11:14:52</strong></p>
            <p class="elemento-obra obra-coleccion">Colección: <a href="#">Los Girasoles</a></p>
            <p class="elemento-obra obra-artista"><a href="#">Vincent Van Gogh</a></p>
            {{#ifCond admin true}}
            {{> OptionsSubastaAdmin}}
            {{/ifCond}}
            <div class="mt-1 mb-5">
                <form action="#">
                    <input type="hidden" id="precio-pujado" name="precio-pujado">
                    <button onclick="pujar()" type="submit" class="badge badge-pill btn-compra">PUJAR</button>
                </form>
            </div>
            <div class="my-5">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis excepturi sint dicta totam hic
                    quis tempore at perferendis officia quidem similique illo minus, autem cumque sapiente sunt
                    quibusdam nulla asperiores.
                </p>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis excepturi sint dicta totam hic
                    quis tempore at perferendis officia quidem similique illo minus, autem cumque sapiente sunt
                    quibusdam nulla asperiores.
                </p>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis excepturi sint dicta totam hic
                    quis tempore at perferendis officia quidem similique illo minus, autem cumque sapiente sunt
                    quibusdam nulla asperiores.
                </p>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis excepturi sint dicta totam hic
                    quis tempore at perferendis officia quidem similique illo minus, autem cumque sapiente sunt
                    quibusdam nulla asperiores.
                </p>

            </div>
            <div class="my-3">
                <h2 class="elemento-obra obra-dato">Dimensiones</h2>
                <h3 class="elemento-obra obra-dato-valor">91 x 72 cm</h3>
            </div>
            <div class="my-3">
                <h2 class="elemento-obra obra-dato">Creacion</h2>
                <h3 class="elemento-obra obra-dato-valor">Agnes, 1888</h3>
            </div>
            <div class="my-3">
                <h2 class="elemento-obra obra-dato">Técnica</h2>
                <h3 class="elemento-obra obra-dato-valor">Oleo sobre lienzo</h3>
            </div>
            <div class="my-3">
                <h2 class="elemento-obra obra-dato">Estilo</h2>
                <h3 class="elemento-obra obra-dato-valor">Moderno</h3>
            </div>
        </div>
    </div>
</section>
<div class="div bg-light pujas">
    <div class="container">
        <div class="row p-5">
            <div class="col-12">
                <h5 class="gold">Últimas pujas</h5>
            </div>
            <div class="col-12 col-lg-6">
                <div class="pujas-container m-3">
                    <div class="puja w-100">
                        <span class="puja-nombre">Nombre</span>
                        <span class="puja-monto">Monto MXN</span>
                    </div>
                    <div class="puja w-100">
                        <span class="puja-nombre">Nombre</span>
                        <span class="puja-monto">Monto MXN</span>
                    </div>
                    <div class="puja w-100">
                        <span class="puja-nombre">Nombre</span>
                        <span class="puja-monto">Monto MXN</span>
                    </div>
                    <div class="puja w-100">
                        <span class="puja-nombre">Nombre</span>
                        <span class="puja-monto">Monto MXN</span>
                    </div>
                    <div class="puja w-100">
                        <span class="puja-nombre">Nombre</span>
                        <span class="puja-monto">Monto MXN</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="pujas-container m-3">
                    <div class="puja w-100">
                        <span class="puja-nombre">Nombre</span>
                        <span class="puja-monto">Monto MXN</span>
                    </div>
                    <div class="puja w-100">
                        <span class="puja-nombre">Nombre</span>
                        <span class="puja-monto">Monto MXN</span>
                    </div>
                    <div class="puja w-100">
                        <span class="puja-nombre">Nombre</span>
                        <span class="puja-monto">Monto MXN</span>
                    </div>
                    <div class="puja w-100">
                        <span class="puja-nombre">Nombre</span>
                        <span class="puja-monto">Monto MXN</span>
                    </div>
                    <div class="puja w-100">
                        <span class="puja-nombre">Nombre</span>
                        <span class="puja-monto">Monto MXN</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="container">
    <div class="row py-3">
        <div class="col-12">
            <h3 class="m-5">Te puede interear</h3>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <a href="">
                    <img src="/images/monet1.jpeg" class="obra-recomendada card-img-top" alt="">
                </a>
                <div class="card-body text-left">
                    <h5 class="card-title">Monet</h5>
                    <p class="card-text text-muted">59.000 MXN</p>
                    <p class="card-text"><small class="text-muted">Fecha: 12/07/2020</small></p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <a href="">
                    <img src="/images/monet1.jpeg" class="obra-recomendada card-img-top" alt="">
                </a>
                <div class="card-body text-left">
                    <h5 class="card-title">Monet</h5>
                    <p class="card-text text-muted">59.000 MXN</p>
                    <p class="card-text"><small class="text-muted">Fecha: 12/07/2020</small></p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <a href="">
                    <img src="/images/monet1.jpeg" class="obra-recomendada card-img-top" alt="">
                </a>
                <div class="card-body text-left">
                    <h5 class="card-title">Monet</h5>
                    <p class="card-text text-muted">59.000 MXN</p>
                    <p class="card-text"><small class="text-muted">Fecha: 12/07/2020</small></p>
                </div>
            </div>
        </div>
    </div>
</section>
{{> Footer }}

<script>
    $(document).ready(function () {
        var divAWidth = $('#carousal-wrapper-outer').css('width');
        $('#carousal-wrapper-inner').css('width', divAWidth);
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 25,
            items: 1
        })
    });

    // Definimos el precio con lo obtenido en la base de datos
    let $precio = 12341

    // Formateamos el precio para que tenga mejor aspecto
    function precioFormateado(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    }

    // Seleccionamos e incrustamos el precio formateado en donde corresponde
    let precio = document.getElementById('precio')
    precio.innerText = `${precioFormateado($precio)} MXN`

    // Aumentamos el precio directamente con la función para identificar al usuario que aumentó mientras se envia la inforamción del formulario
    function pujar() {
        let puja = $precio + 50
        precio.innerText = `${precioFormateado(puja)} MXN`

        // Seleccionamos el input donde irá el precio pujado
        let pujado = document.getElementById('precio-pujado')
        // Fijamos el valor de la puja hecha
        pujado.value = puja
    }
</script>