<!-- Modal -->
<div class="modal fade" id="datos-obra-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="">
                            <img class="img-fluid" src="images/vangogh1.jpg" alt="girasoles">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Nombre de la obra</h5>
                                    <h4 class="">Los Girasoles #13</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Artista</h5>
                                    <h4 class="">Vincent Van Gogh</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">ID</h5>
                                    <h4 class="">AHSDKJHALKSD13413KJK</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Ubicación de la obra</h5>
                                    <h4 class="">La Haya, Holanda</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Codigo de Seguimiento</h5>
                                    <input type="text" name="" id="" class="form-control">
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Fecha de Arribo</h5>
                                    <input type="date" name="" id="" class="form-control">
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Nombre del comprador</h5>
                                    <h4 class="">Luis Fernando Méndez</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Ubicación del Comprador</h5>
                                    <h4 class="">San Fermin, Tunez</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Currier</h5>
                                    <h4 class="">DHL</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Dirección</h5>
                                    <h4 class="">Edif 5, 450C Ruta Central</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Precio</h5>
                                    <h4 class="">175.000 MXN</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5>Registrar Envio</h5>
                                    <button type="submit" class="btn badge-recibido">Enviar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Fin del Modal --}}

{{> Navigation }}


<div class="container inicial">
    <div class="content">
        <div class="title m-5">
            <h2>Mis Compras</h2>
        </div>
        <div class="section ventas">
            <div class="tabla mis-ventas">
                <table class="table table-borderless my-5">
                    <thead style="background-color: #bda00899;">
                        <tr>
                            <th scope="col">Obra</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Ubicación</th>
                            <th scope="col">Estimado</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Pagar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <!-- Enlace a la obra y a la página del artista -->
                            <td><button data-toggle="modal" data-target="#datos-obra-modal" class="titulo-mis-obras"><h2>Noche Estrellada</h2></button><a href="#" class="artista-tabla"><h3>Vincent Van Gogh</h3></a></td>
                            <!-- Cantidad de obras a comprar (segun el contador que se agregará -->
                            <td>3</td>
                            <!-- Ubicación de la obra -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo estimado de envio (Esto es tentativo, quisiera hablar contigo sobre como definirlo) -->
                            <td>2 Semanas</td>
                            <!-- Precio de la obra -->
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Botón para pagar esta obra exclusivamente -->
                            <td><button class="badge-pagar">Pagar</button></td>
                        </tr>
                        <tr>
                            <!-- Enlace a la obra y a la página del artista -->
                            <td><button data-toggle="modal" data-target="#datos-obra-modal" class="titulo-mis-obras"><h2>Noche Estrellada</h2></button><a href="#" class="artista-tabla"><h3>Vincent Van Gogh</h3></a></td>
                            <!-- Cantidad de obras a comprar (segun el contador que se agregará -->
                            <td>3</td>
                            <!-- Ubicación de la obra -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo estimado de envio (Esto es tentativo, quisiera hablar contigo sobre como definirlo) -->
                            <td>2 Semanas</td>
                            <!-- Precio de la obra -->
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Botón para pagar esta obra exclusivamente -->
                            <td><button class="badge-pagar">Pagar</button></td>
                        </tr>
                        <tr>
                            <!-- Enlace a la obra y a la página del artista -->
                            <td><button data-toggle="modal" data-target="#datos-obra-modal" class="titulo-mis-obras"><h2>Noche Estrellada</h2></button><a href="#" class="artista-tabla"><h3>Vincent Van Gogh</h3></a></td>
                            <!-- Cantidad de obras a comprar (segun el contador que se agregará -->
                            <td>3</td>
                            <!-- Ubicación de la obra -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo estimado de envio (Esto es tentativo, quisiera hablar contigo sobre como definirlo) -->
                            <td>2 Semanas</td>
                            <!-- Precio de la obra -->
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Botón para pagar esta obra exclusivamente -->
                            <td><button class="badge-pagar">Pagar</button></td>
                        </tr>
                        <tr>
                            <!-- Enlace a la obra y a la página del artista -->
                            <td><button data-toggle="modal" data-target="#datos-obra-modal" class="titulo-mis-obras"><h2>Noche Estrellada</h2></button><a href="#" class="artista-tabla"><h3>Vincent Van Gogh</h3></a></td>
                            <!-- Cantidad de obras a comprar (segun el contador que se agregará -->
                            <td>3</td>
                            <!-- Ubicación de la obra -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo estimado de envio (Esto es tentativo, quisiera hablar contigo sobre como definirlo) -->
                            <td>2 Semanas</td>
                            <!-- Precio de la obra -->
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Botón para pagar esta obra exclusivamente -->
                            <td><button class="badge-pagar">Pagar</button></td>
                        </tr>
                        <tr>
                            <!-- Enlace a la obra y a la página del artista -->
                            <td><button data-toggle="modal" data-target="#datos-obra-modal" class="titulo-mis-obras"><h2>Noche Estrellada</h2></button><a href="#" class="artista-tabla"><h3>Vincent Van Gogh</h3></a></td>
                            <!-- Cantidad de obras a comprar (segun el contador que se agregará -->
                            <td>3</td>
                            <!-- Ubicación de la obra -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo estimado de envio (Esto es tentativo, quisiera hablar contigo sobre como definirlo) -->
                            <td>2 Semanas</td>
                            <!-- Precio de la obra -->
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Botón para pagar esta obra exclusivamente -->
                            <td><button class="badge-pagar">Pagar</button></td>
                        </tr>
                        <tr>
                            <!-- Enlace a la obra y a la página del artista -->
                            <td><button data-toggle="modal" data-target="#datos-obra-modal" class="titulo-mis-obras"><h2>Noche Estrellada</h2></button><a href="#" class="artista-tabla"><h3>Vincent Van Gogh</h3></a></td>
                            <!-- Cantidad de obras a comprar (segun el contador que se agregará -->
                            <td>3</td>
                            <!-- Ubicación de la obra -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo estimado de envio (Esto es tentativo, quisiera hablar contigo sobre como definirlo) -->
                            <td>2 Semanas</td>
                            <!-- Precio de la obra -->
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Botón para pagar esta obra exclusivamente -->
                            <td><button class="badge-pagar">Pagar</button></td>
                        </tr>
                        <tr>
                            <!-- Enlace a la obra y a la página del artista -->
                            <td><button data-toggle="modal" data-target="#datos-obra-modal" class="titulo-mis-obras"><h2>Noche Estrellada</h2></button><a href="#" class="artista-tabla"><h3>Vincent Van Gogh</h3></a></td>
                            <!-- Cantidad de obras a comprar (segun el contador que se agregará -->
                            <td>3</td>
                            <!-- Ubicación de la obra -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo estimado de envio (Esto es tentativo, quisiera hablar contigo sobre como definirlo) -->
                            <td>2 Semanas</td>
                            <!-- Precio de la obra -->
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Botón para pagar esta obra exclusivamente -->
                            <td><button class="badge-pagar">Pagar</button></td>
                        </tr>
                        <tr>
                            <!-- Enlace a la obra y a la página del artista -->
                            <td><button data-toggle="modal" data-target="#datos-obra-modal" class="titulo-mis-obras"><h2>Noche Estrellada</h2></button><a href="#" class="artista-tabla"><h3>Vincent Van Gogh</h3></a></td>
                            <!-- Cantidad de obras a comprar (segun el contador que se agregará -->
                            <td>3</td>
                            <!-- Ubicación de la obra -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo estimado de envio (Esto es tentativo, quisiera hablar contigo sobre como definirlo) -->
                            <td>2 Semanas</td>
                            <!-- Precio de la obra -->
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Botón para pagar esta obra exclusivamente -->
                            <td><button class="badge-pagar">Pagar</button></td>
                        </tr>
                        <tr>
                            <!-- Enlace a la obra y a la página del artista -->
                            <td><button data-toggle="modal" data-target="#datos-obra-modal" class="titulo-mis-obras"><h2>Noche Estrellada</h2></button><a href="#" class="artista-tabla"><h3>Vincent Van Gogh</h3></a></td>
                            <!-- Cantidad de obras a comprar (segun el contador que se agregará -->
                            <td>3</td>
                            <!-- Ubicación de la obra -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo estimado de envio (Esto es tentativo, quisiera hablar contigo sobre como definirlo) -->
                            <td>2 Semanas</td>
                            <!-- Precio de la obra -->
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Botón para pagar esta obra exclusivamente -->
                            <td><button class="badge-pagar">Pagar</button></td>
                        </tr>
                        <tr>
                            <!-- Enlace a la obra y a la página del artista -->
                            <td><button data-toggle="modal" data-target="#datos-obra-modal" class="titulo-mis-obras"><h2>Noche Estrellada</h2></button><a href="#" class="artista-tabla"><h3>Vincent Van Gogh</h3></a></td>
                            <!-- Cantidad de obras a comprar (segun el contador que se agregará -->
                            <td>3</td>
                            <!-- Ubicación de la obra -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo estimado de envio (Esto es tentativo, quisiera hablar contigo sobre como definirlo) -->
                            <td>2 Semanas</td>
                            <!-- Precio de la obra -->
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Botón para pagar esta obra exclusivamente -->
                            <td><button class="badge-pagar">Pagar</button></td>
                        </tr>
                        <tr>
                            <!-- Enlace a la obra y a la página del artista -->
                            <td><button data-toggle="modal" data-target="#datos-obra-modal" class="titulo-mis-obras"><h2>Noche Estrellada</h2></button><a href="#" class="artista-tabla"><h3>Vincent Van Gogh</h3></a></td>
                            <!-- Cantidad de obras a comprar (segun el contador que se agregará -->
                            <td>3</td>
                            <!-- Ubicación de la obra -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo estimado de envio (Esto es tentativo, quisiera hablar contigo sobre como definirlo) -->
                            <td>2 Semanas</td>
                            <!-- Precio de la obra -->
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Botón para pagar esta obra exclusivamente -->
                            <td><button class="badge-pagar">Pagar</button></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><button class="badge-pagar">Pagar Todos</button></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
{{> Footer }}