{{> Navigation }}
{{> FilterPaints }}
<section class="container">
    <div class="card-columns card-columns-obras">
        <div class="card">
            <a href="#">
            <img class="card-img-top img-fluid" src="/images/boguereau1.jpg" alt="Card image cap">
            </a>
            <div class="card-block obras-card-block">
                <h4 class="card-title obra-coleccion"><a href="#">Titulo Obra</a></h4>
                <p class="card-text">Brief description</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><small class="text-muted gold">23 March 2020</small></li>
                <li class="list-group-item"><small class="text-muted">175.000 MXN</small></li>
            </ul>
        </div>
        <div class="card">
            <a href="#">
            <img class="card-img-top img-fluid" src="/images/retrato2.jpg" alt="Card image cap">
            </a>
            <div class="card-block obras-card-block">
                <h4 class="card-title obra-coleccion"><a href="#">Titulo Obra</a></h4>
                <p class="card-text">Brief description</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><small class="text-muted gold">23 March 2020</small></li>
                <li class="list-group-item"><small class="text-muted">175.000 MXN</small></li>
            </ul>
        </div>
        <div class="card">
            <a href="#">
            <img class="card-img-top img-fluid" src="/images/retrato1.jpg" alt="Card image cap">
            </a>
            <div class="card-block obras-card-block">
                <h4 class="card-title obra-coleccion"><a href="#">Titulo Obra</a></h4>
                <p class="card-text">Brief description</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><small class="text-muted gold">23 March 2020</small></li>
                <li class="list-group-item"><small class="text-muted">175.000 MXN</small></li>
            </ul>
        </div>
        <div class="card">
            <a href="#">
            <img class="card-img-top img-fluid" src="/images/vangogh3.jpg" alt="Card image cap">
            </a>
            <div class="card-block obras-card-block">
                <h4 class="card-title obra-coleccion"><a href="#">Titulo Obra</a></h4>
                <p class="card-text">Brief description</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><small class="text-muted gold">23 March 2020</small></li>
                <li class="list-group-item"><small class="text-muted">175.000 MXN</small></li>
            </ul>
        </div>
        <div class="card">
            <a href="#">
            <img class="card-img-top img-fluid" src="/images/boguereau5.jpg" alt="Card image cap">
            </a>
            <div class="card-block obras-card-block">
                <h4 class="card-title obra-coleccion"><a href="#">Titulo Obra</a></h4>
                <p class="card-text">Brief description</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><small class="text-muted gold">23 March 2020</small></li>
                <li class="list-group-item"><small class="text-muted">175.000 MXN</small></li>
            </ul>
        </div>
        <div class="card">
            <a href="#">
            <img class="card-img-top img-fluid" src="/images/boguereau4.jpg" alt="Card image cap">
            </a>
            <div class="card-block obras-card-block">
                <h4 class="card-title obra-coleccion"><a href="#">Titulo Obra</a></h4>
                <p class="card-text">Brief description</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><small class="text-muted gold">23 March 2020</small></li>
                <li class="list-group-item"><small class="text-muted">175.000 MXN</small></li>
            </ul>
        </div>
        <div class="card">
            <a href="#">
            <img class="card-img-top img-fluid" src="/images/dali1.jpg" alt="Card image cap">
            </a>
            <div class="card-block obras-card-block">
                <h4 class="card-title obra-coleccion"><a href="#">Titulo Obra</a></h4>
                <p class="card-text">Brief description</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><small class="text-muted gold">23 March 2020</small></li>
                <li class="list-group-item"><small class="text-muted">175.000 MXN</small></li>
            </ul>
        </div>
        <div class="card">
            <a href="#">
            <img class="card-img-top img-fluid" src="/images/monet3.jpg" alt="Card image cap">
            </a>
            <div class="card-block obras-card-block">
                <h4 class="card-title obra-coleccion"><a href="#">Titulo Obra</a></h4>
                <p class="card-text">Brief description</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><small class="text-muted gold">23 March 2020</small></li>
                <li class="list-group-item"><small class="text-muted">175.000 MXN</small></li>
            </ul>
        </div>
        <div class="card">
            <a href="#">
            <img class="card-img-top img-fluid" src="/images/monet2.jpg" alt="Card image cap">
            </a>
            <div class="card-block obras-card-block">
                <h4 class="card-title obra-coleccion"><a href="#">Titulo Obra</a></h4>
                <p class="card-text">Brief description</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><small class="text-muted gold">23 March 2020</small></li>
                <li class="list-group-item"><small class="text-muted">175.000 MXN</small></li>
            </ul>
        </div>
        <div class="card">
            <a href="#">
            <img class="card-img-top img-fluid" src="/images/vangogh2.jpg" alt="Card image cap">
            </a>
            <div class="card-block obras-card-block">
                <h4 class="card-title obra-coleccion"><a href="#">Titulo Obra</a></h4>
                <p class="card-text">Brief description</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><small class="text-muted gold">23 March 2020</small></li>
                <li class="list-group-item"><small class="text-muted">175.000 MXN</small></li>
            </ul>
        </div>
        <div class="card">
            <a href="#">
            <img class="card-img-top img-fluid" src="/images/boguereau3.jpg" alt="Card image cap">
            </a>
            <div class="card-block obras-card-block">
                <h4 class="card-title obra-coleccion"><a href="#">Titulo Obra</a></h4>
                <p class="card-text">Brief description</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><small class="text-muted gold">23 March 2020</small></li>
                <li class="list-group-item"><small class="text-muted">175.000 MXN</small></li>
            </ul>
        </div>
        <div class="card">
            <a href="#">
            <img class="card-img-top img-fluid" src="/images/vangogh1.jpg" alt="Card image cap">
            </a>
            <div class="card-block obras-card-block">
                <h4 class="card-title obra-coleccion"><a href="#">Titulo Obra</a></h4>
                <p class="card-text">Brief description</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><small class="text-muted gold">23 March 2020</small></li>
                <li class="list-group-item"><small class="text-muted">175.000 MXN</small></li>
            </ul>
        </div>
        <div class="card">
            <a href="#">
            <img class="card-img-top img-fluid" src="/images/monet1.jpeg" alt="Card image cap">
            </a>
            <div class="card-block obras-card-block">
                <h4 class="card-title obra-coleccion"><a href="#">Titulo Obra</a></h4>
                <p class="card-text">Brief description</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><small class="text-muted gold">23 March 2020</small></li>
                <li class="list-group-item"><small class="text-muted">175.000 MXN</small></li>
            </ul>
        </div>
        <div class="card">
            <a href="#">
            <img class="card-img-top img-fluid" src="/images/boguereau2.jpg" alt="Card image cap">
            </a>
            <div class="card-block obras-card-block">
                <h4 class="card-title obra-coleccion"><a href="#">Titulo Obra</a></h4>
                <p class="card-text">Brief description</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><small class="text-muted gold">23 March 2020</small></li>
                <li class="list-group-item"><small class="text-muted">175.000 MXN</small></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="w-100 my-5 text-center">
            <span class="px-2"><a href="#" class="paginacion">   <   </a></span>
            <span class="px-2"><a href="#" class="paginacion">   1   </a></span>
            <span class="px-2"><a href="#" class="paginacion">   2   </a></span>
            <span class="px-2"><a href="#" class="paginacion"><strong class="gold">   3   </strong></a></span>
            <span class="px-2"><a href="#" class="paginacion">   4   </a></span>
            <span class="px-2"><a href="#" class="paginacion">   5   </a></span>
            <span class="px-2"><a href="#" class="paginacion">   >   </a></span>
            </div>
        </div>
    </div>
</section>
{{> FilterEnd}}
{{> Footer}}