{{> Navigation }}

<section class="container inicial">
    <div class="content">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="d-flex justify-content-center align-items-center"
                    style="width: 280px; height: 350px; background-color: var(--gold); float: right;">
                    <i class="fas fa-user fa-4x text-white"></i>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="titulo">
                    <h2>Farid Aboud</h2>
                </div>
                <div class="info-perfil-cliente">
                    <h4>Correo</h4>
                    <p class="text-muted">Faridaboud@correo.com</p>
                    <br>
                    <h4>Teléfono</h4>
                    <p class="text-muted">+123 456 789</p>
                    <br>
                    <h4>Dirección</h4>
                    <p class="text-muted">Calle 23, Carrera 141 - #123</p>
                    <br>
                    <h4>Ubicación</h4>
                    <p class="text-muted">Estado, País</p>
                    <br>
                    <h4>Registrado desde</h4>
                    <p class="text-muted">Julio 2020</p>
                </div>
            </div>
        </div>
        <br>
        <h4>Sobre mí</h4>
        <div class="row mb-5">
            <div class="col-lg-6 col-12">
                <p style="text-align: justify;">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam mollitia assumenda ducimus
                    consequuntur, nemo eveniet libero veritatis, fugiat veniam molestiae, nulla cupiditate pariatur
                    aliquam laboriosam itaque repellendus. Quisquam, aliquid? Similique saepe tenetur labore inventore
                    pariatur illo minus vitae sequi consectetur, ipsam, est veniam dignissimos iusto unde? Atque animi
                    doloremque assumenda obcaecati laboriosam laudantium nisi debitis rerum similique? Nisi, tenetur
                    recusandae? Consequuntur aliquid qui at perspiciatis illum sint, nulla, molestias repellendus quod
                    distinctio facilis sunt, eveniet expedita ipsa. Praesentium maiores minus ut, voluptates aut nulla
                    possimus repellendus illo atque perferendis! Cumque non amet rerum commodi perferendis tempora iure
                    ipsum! Ab, est!
                </p>
            </div>
            <div class="col-lg-6 col-12">
                <p style="text-align: justify;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta aut labore voluptates laudantium
                    omnis odio temporibus quaerat dolorum nam ducimus consequuntur dolores eum, corporis nesciunt quidem
                    maiores alias, magnam maxime ad tempora minima saepe. Necessitatibus, eveniet laborum consectetur
                    vel non minima cumque magnam. Corporis, ipsam soluta dignissimos facere odit quos, eos atque commodi
                    libero itaque recusandae corrupti amet tenetur cum, culpa reprehenderit suscipit? Repudiandae quam
                    autem repellat veritatis architecto odit assumenda provident? Itaque, ipsam. Eum provident
                    asperiores sit voluptatibus animi beatae ad, laudantium rerum ut odit, nam perspiciatis cumque, quis
                    cupiditate exercitationem omnis ab nisi ducimus adipisci tenetur fugiat harum.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="tabla mis-ventas w-100">
                <h4>Últimas obras visitadas</h4>
                <table class="table table-borderless my-5">
                    <thead style="background-color: #bda00899;">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Artista</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Ubicación</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="ml-5">
                            <td><a href="#" class="coleccion-mis-obras">Espirales de Acero</a></td>
                            <td><a href="#" class="coleccion-mis-obras">Lilah Steel</a></td>
                            <td class="gold">149.000 MXN</td>
                            <td class="accion-editar">New Hampshire</td>
                        </tr>
                        <tr class="ml-5">
                            <td><a href="#" class="coleccion-mis-obras">Espirales de Acero</a></td>
                            <td><a href="#" class="coleccion-mis-obras">Lilah Steel</a></td>
                            <td class="gold">149.000 MXN</td>
                            <td class="accion-editar">New Hampshire</td>
                        </tr>
                        <tr class="ml-5">
                            <td><a href="#" class="coleccion-mis-obras">Espirales de Acero</a></td>
                            <td><a href="#" class="coleccion-mis-obras">Lilah Steel</a></td>
                            <td class="gold">149.000 MXN</td>
                            <td class="accion-editar">New Hampshire</td>
                        </tr>
                        <tr class="ml-5">
                            <td><a href="#" class="coleccion-mis-obras">Espirales de Acero</a></td>
                            <td><a href="#" class="coleccion-mis-obras">Lilah Steel</a></td>
                            <td class="gold">149.000 MXN</td>
                            <td class="accion-editar">New Hampshire</td>
                        </tr>
                        <tr class="ml-5">
                            <td><a href="#" class="coleccion-mis-obras">Espirales de Acero</a></td>
                            <td><a href="#" class="coleccion-mis-obras">Lilah Steel</a></td>
                            <td class="gold">149.000 MXN</td>
                            <td class="accion-editar">New Hampshire</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

{{> Footer }}