{{> NavArtist }}

<div class="content inicial">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <h1>El Impresionismo de Monet</h1>
            </div>
            <div class="col-12">
                <div class="carousel-wrapper-inner">
                    <div class="owl-carousel owl-theme carousel-index carrusel-coleccion">
                        <a href="obra">
                            <div class="item-coleccion-carrusel">
                                <figure class="figure">
                                    <img class="item figure-img img-fluid" src="./images/monet1.jpeg"
                                        style="max-height: 280px; height: 100%; width: auto;" alt="Pintura">
                                    <figcaption class="figure-caption gold">270.000 MXN</figcaption>
                                </figure>
                            </div>
                        </a>
                        <a href="obra">
                            <div class="item-coleccion-carrusel">
                                <figure class="figure">
                                    <img class="item figure-img img-fluid" src="./images/monet2.jpg"
                                        style="max-height: 280px; height: 100%; width: auto;" alt="Pintura">
                                    <figcaption class="figure-caption gold">250.000 MXN</figcaption>
                                </figure>
                            </div>
                        </a>
                        <a href="obra">
                            <div class="item-coleccion-carrusel">
                                <figure class="figure">
                                    <img class="item figure-img img-fluid" src="./images/monet3.jpg"
                                        style="max-height: 280px; height: 100%; width: auto;" alt="Pintura">
                                    <figcaption class="figure-caption gold">220.000 MXN</figcaption>
                                </figure>
                            </div>
                        </a>
                        <a href="obra">
                            <div class="item-coleccion-carrusel">
                                <figure class="figure">
                                    <img class="item figure-img img-fluid" src="./images/monet1.jpeg"
                                        style="max-height: 280px; height: 100%; width: auto;" alt="Pintura">
                                    <figcaption class="figure-caption gold">270.000 MXN</figcaption>
                                </figure>
                            </div>
                        </a>
                        <a href="obra">
                            <div class="item-coleccion-carrusel">
                                <figure class="figure">
                                    <img class="item figure-img img-fluid" src="./images/monet2.jpg"
                                        style="max-height: 280px; height: 100%; width: auto;" alt="Pintura">
                                    <figcaption class="figure-caption gold">250.000 MXN</figcaption>
                                </figure>
                            </div>
                        </a>
                        <a href="obra">
                            <div class="item-coleccion-carrusel">
                                <figure class="figure">
                                    <img class="item figure-img img-fluid" src="./images/monet3.jpg"
                                        style="max-height: 280px; height: 100%; width: auto;" alt="Pintura">
                                    <figcaption class="figure-caption gold">220.000 MXN</figcaption>
                                </figure>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 m-3">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-4">
                                <h2 style="font-size: 1em;">Número de piezas</h2>
                                <h3 style="font-size: 1em;" class="text-muted">6</h3>
                            </div>
                            <div class="col-4">
                                <h2 style="font-size: 1em;">Técnica</h2>
                                <h3 style="font-size: 1em;" class="text-muted">Oleo sobre lienzo</h3>
                            </div>
                            <div class="col-3">
                                <a href="#" class="enlace-obra-coleccion">
                                    <h2 style="font-size: 1em;">Ir a la obra</h2>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-4">
                                <h2 style="font-size: 1em;">Ubicación</h2>
                                <h3 style="font-size: 1em;" class="text-muted">Neue Pinakothek, Munich, Alemania</h3>
                            </div>
                            <div class="col-4">
                                <h2 style="font-size: 1em;">Año</h2>
                                <h3 style="font-size: 1em;" class="text-muted">1974</h3>
                            </div>
                            <div class="col-3">
                                <h2 style="font-size: 1em;">Estilo</h2>
                                <h3 style="font-size: 1em;" class="text-muted">Post-Impresionismo</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="text-center">
                    <button class="btn btn-compra badge badge-pill">Comprar Colección</button>
                </div>
            </div>
            <div class="col-12 m-3">
                <div class="descripcion-coleccion">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam exercitationem rerum at, ut
                    pariatur quam officiis? Omnis officiis iure, labore fuga eveniet similique rem nam quasi blanditiis.
                    Excepturi nisi facere inventore consequatur quo dolorem exercitationem optio beatae odio vel eaque
                    animi perferendis obcaecati, dicta voluptatibus? Saepe necessitatibus odit velit assumenda nihil
                    rerum, praesentium fugiat porro dolore eos enim earum laborum veritatis nobis eveniet. Omnis tempore
                    temporibus, qui doloremque earum vitae magni id iure saepe facilis mollitia! Sed obcaecati quia
                    numquam veritatis accusantium ipsam necessitatibus voluptatibus, exercitationem possimus similique
                    placeat perspiciatis tenetur ab expedita tempore eaque iusto officia, aperiam praesentium voluptas
                    cum adipisci tempora dicta odio? Earum qui dolor sunt similique quas, porro at itaque enim illo id
                    hic commodi odit voluptatem tenetur voluptatum, ea adipisci eligendi dolorum, eos laboriosam? Omnis
                    dolorum cumque blanditiis unde quo perferendis animi, delectus libero, voluptate officia vitae ullam
                    eos doloribus modi ad vero, voluptates temporibus!
                </div>
            </div>
            <div class="col-12 m-3">
                <div class="container obras-recomendadas">
                    <div class="row">
                        <div class="col-12 m-5">
                            <div class="text-left">
                                <h3 class="gold">Te puede interear</h3>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="card-group">

                                <div class="card">
                                    <a href="">
                                        <img src="./images/boguereau1.jpg" class="obra-recomendada card-img-top" alt="">
                                    </a>
                                    <div class="card-body text-left">
                                        <h5 class="card-title">Joven bebiendo agua</h5>
                                        <p class="card-text text-muted">185.000 MXN</p>
                                        <p class="card-text"><small class="text-muted">Fecha: 02/15/2020</small></p>
                                    </div>
                                </div>
                                <div class="card">
                                    <a href="">
                                        <img src="./images/vangogh2.jpg" class="obra-recomendada card-img-top" alt="">
                                    </a>
                                    <div class="card-body text-left">
                                        <h5 class="card-title">La Habitación</h5>
                                        <p class="card-text text-muted">185.000 MXN</p>
                                        <p class="card-text"><small class="text-muted">Fecha: 02/15/2020</small></p>
                                    </div>
                                </div>
                                <div class="card">
                                    <a href="">
                                        <img src="./images/vangogh3.jpg" class="obra-recomendada card-img-top" alt="">
                                    </a>
                                    <div class="card-body text-left">
                                        <h5 class="card-title">Noche Estrellada</h5>
                                        <p class="card-text text-muted">185.000 MXN</p>
                                        <p class="card-text"><small class="text-muted">Fecha: 02/15/2020</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> Footer }}


<script>
    $(document).ready(function () {
        var divAWidth = $('#carousal-wrapper-outer').css('width');
        $('#carousal-wrapper-inner').css('width', divAWidth);
        $('.owl-carousel').owlCarousel({
            loop: true,
            autoplay: 3000,
            items: 3,
            nav: true,
            center: true,
            margin: 25,
            responsive: {
                500: {
                    items: 1
                },
                800: {
                    items: 3
                }
            }

        });
        $('.owl-item').addClass('carousel-coleccion');
        $('.owl-next').html('<span aria-label="Next"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" class="svg-inline--fa fa-angle-right fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg></span>')
        $('.owl-prev').html('<span aria-label="Previous"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-left" class="svg-inline--fa fa-angle-left fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="currentColor" d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"></path></svg></span>')
    });
</script>