{{> Navigation }}

{{> artistSidebar }}

<div class="bg-light h-100">
    <div class="container">
        <div class="row py-4">
            <div class="col-12 col-md-3 col-lg-3">
                <div class="card ultima-obra-dashboard">
                    <img src="/images/boguereau3.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <p class="card-text d-flex justify-content-between">Visitantes: <span class="gold">4</span></p>
                        <p class="card-text d-flex justify-content-between">Ofertas: <span class="gold">N/A</span></p>
                        <p class="card-text d-flex justify-content-around">Estado: <span class="gold">Sin Ofertas</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-9">
                <div class="row mb-3">
                    <div class="col-12 col-md-6 mb-3">
                        <div class="tarjeta-dashboard">
                            <div class="inner-tarjeta-dashboard">
                                <span class="text-white">Visitantes semanales</span>
                                <i class="text-white">78</i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <div class="tarjeta-dashboard">
                            <div class="inner-tarjeta-dashboard">
                                <span class="text-white">Ingresos semanales</span>
                                <i class="text-white">150.000 MXN</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12 col-md-4">
                        <div class="card proximo-evento-dashboard h-100">
                            <div class="card-body">
                                <div class="card-title gold"><small><i>Próximo evento</i></small></div>
                                <h3>Repensando el Modernismo</h3>
                                <p class="card-text">Galería Brunoise</p>
                                <p class="card-text gold">05 - 09 - 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="obras-mas-visitadas-dashboard">
                            <div class="table-responsive">
                                <table class="table table-sm tabla-dashboard m-0">
                                    <thead>
                                        <tr>
                                            <th>Obras más visitadas</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="#">Bouguereau 1</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Bouguereau 2</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Bouguereau 3</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Bouguereau 4</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Bouguereau 5</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12 col-md-4">
                        <div class="card proxima-subasta-dashboard h-100">
                            <div class="card-body">
                                <div class="card-title gold"><small><i>Próxima subasta</i></small></div>
                                <h3>N/A (nombre)</h3>
                                <p class="card-text">N/A (precio base)</p>
                                <p class="card-text gold">N/A (fecha)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="colecciones-mas-visitadas-dashboard">
                            <div class="table-responsive">
                                <table class="table table-sm tabla-dashboard m-0">
                                    <thead>
                                        <tr>
                                            <th>Colecciones más visitadas</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="#">Modernismo 1</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Modernismo 2</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Modernismo 3</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Modernismo 4</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Modernismo 5</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .inicial {
        padding: 4.5em 0 0 0;
    }

    .tarjeta-dashboard {
        border-radius: .25rem;
        background: var(--gold);
        min-height: 40px;
        box-shadow: 4px 4px 8px #D3D3D3;
        display: flex;
    }

    .inner-tarjeta-dashboard {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .ultima-obra-dashboard {
        box-shadow: 4px 4px 8px #d3d3d3;
        border: none;
    }

    .tabla-dashboard thead tr,
    .table-dashboard tbody tr {
        background-color: #495057 !important;
    }

    .tabla-dashboard th {
        color: var(--second-gold);
        border-bottom: 2px solid #737373 !important;
        border-top: none;
    }

    .tabla-dashboard td {
        border-top: 1px solid #737373;
    }

    .tabla-dashboard td a {
        color: var(--third-gold);
    }

    .tabla-dashboard td a:hover {
        color: var(--gold);
        text-decoration: none;
    }

    .obras-mas-visitadas-dashboard,
    .colecciones-mas-visitadas-dashboard {
        padding: 2px;
        border-radius: .25rem;
        background: #495057;
        box-shadow: 4px 4px 8px #d3d3d3;
    }

    .proximo-evento-dashboard, .proxima-subasta-dashboard {
        border: none;
        box-shadow: 4px 4px 8px #d3d3d3;
    }
</style>

{{> sidebarEnd }}

{{> Footer }}