{{> Navigation }}

{{> artistSidebar }}

<div class="container">
    <div class="content">
        <div class="row mt-5">
            <div class="col-12 col-md-6 rendimiento-dashboard-header rend-1">
                <div>
                    <h2>Rendimiento</h2>
                </div>
            </div>
            <div class="col-12 col-md-6 rendimiento-dashboard-header rend-2">
                <div>
                    <a class="btn" id="submit" style="background-color: #bda00899; color: #FFF;"
                        href="https://connect.stripe.com/express/oauth/authorize?client_id=ca_HeryjbpRGndoYxvCYMJ2pwCZITTeTHOw&state={STATE_VALUE}&suggested_capabilities[]=transfers&stripe_user[email]={{email}}&redirect_uri=https://artelibre.mx">
                        Registrar Método de Pago con Stripe
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>

<style>
    .rend-1 {
        text-align: left;
    }

    .rend-2 {
        text-align: right;
    }

    @media screen and (max-width: 768px) {
        .rend-1 {
            text-align: center;
        }

        .rend-2 {
            text-align: center;
        }
    }
</style>

{{> sidebarEnd}}

{{> Footer }}