<!-- Modal -->
<div class="modal fade" id="datos-obra-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="">
                            <img class="img-fluid" src="images/vangogh1.jpg" alt="girasoles">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Nombre de la obra</h5>
                                    <h4 class="">Los Girasoles #13</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Artista</h5>
                                    <h4 class="">Vincent Van Gogh</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">ID</h5>
                                    <h4 class="">AHSDKJHALKSD13413KJK</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Ubicación de la obra</h5>
                                    <h4 class="">La Haya, Holanda</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Codigo de Seguimiento</h5>
                                    <input type="text" name="" id="" class="form-control">
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Fecha de Arribo</h5>
                                    <input type="date" name="" id="" class="form-control">
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Nombre del comprador</h5>
                                    <h4 class="">Luis Fernando Méndez</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Ubicación del Comprador</h5>
                                    <h4 class="">San Fermin, Tunez</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Currier</h5>
                                    <h4 class="">DHL</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Dirección</h5>
                                    <h4 class="">Edif 5, 450C Ruta Central</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Precio</h5>
                                    <h4 class="">175.000 MXN</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5>Registrar Envio</h5>
                                    <button type="submit" class="btn badge-recibido">Enviar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{{> Navigation }}

{{> artistSidebar }}

<div class="container">
    <div class="content">
        <div class="m-5">
            <h2>Mis Obras</h2>

        </div>
        <div>
            <a class="btn" id="submit" style="background-color: #bda00899;"
            href="https://connect.stripe.com/express/oauth/authorize?client_id=ca_HeryjbpRGndoYxvCYMJ2pwCZITTeTHOw&state={STATE_VALUE}&suggested_capabilities[]=transfers&stripe_user[email]={{email}}&redirect_uri=https://artelibre.mx">
            Registrar Método de Pago con Stripe
            </a>
        </div>
        <div class="section ventas">
            <div class="tabla mis-ventas">
                <table class="table table-borderless my-5">
                    <thead style="background-color: #bda00899;">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Colección</th>
                            <th scope="col">Estilo</th>
                            <th scope="col">P. Definido</th>
                            <th scope="col">P. Sugerido</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each obras}}
                        <tr class="ml-5">
                            <!-- Enlace a la Obra, vista como el cliente -->
                            <td><button data-toggle="modal" data-target="#datos-obra-modal" class="titulo-mis-obras">
                                    <h2 style="font-weight: bold;">Noche Estrellada</h2>
                                </button></td>
                            <!-- Enlace a la colección de la obra -->
                            <td><a href="#" class="coleccion-mis-obras">{{coleccion}}</a></td>
                            <td>{{estilo}}</td>
                            <!-- Estilo y Precio definidos durante la creación de la obra -->
                            <td class="text-muted">{{precio}} MXN</td>
                            <!-- Precio sugerido por el administrador, si no ha sugerido aparece vacio -->
                            <td class="gold">197.000 MXN</td>
                            <!-- Acción de editar esta obra, redirige a "Editar Obra" -->
                            <td><a href="#" class="accion-editar">Editar</a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{> sidebarEnd}}

{{> Footer }}

