{{> Navigation }}
<div class="container inicial">
    <div class="content">
        <div class="title m-5">
            <h2>Mis Ventas</h2>
        </div>
        <div class="section ventas">
            <div class="tabla mis-ventas">
                <table class="table table-borderless my-5">
                    <thead style="background-color: #bda00899;">
                        <tr>
                            <th scope="col">Obra</th>
                            <th scope="col">Ubicación</th>
                            <th scope="col">Estimado</th>
                            <th scope="col">Precio</th>
                            <th scope="col"> <span class="badge-recibido">Estado</span></th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <!-- Enlace a los detalles de la obra -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a></td>
                            <!-- Ubicación del cliente/comprador -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo Estimado de envio (puede ser un input al registrar el codigo de envio) -->
                            <td>2 Semanas</td>
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Estatus de la transacción -->
                            <td><span class="badge-pagado">Pagado</span></td>
                            <!-- Contacto es comunicación con el cliente, alerta es comunicación con los de artelibre -->
                            <td>Contacto / Alerta</td>
                        </tr>
                        <tr>
                            <!-- Enlace a los detalles de la obra -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a></td>
                            <!-- Ubicación del cliente/comprador -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo Estimado de envio (puede ser un input al registrar el codigo de envio) -->
                            <td>2 Semanas</td>
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Estatus de la transacción -->
                            <td><span class="badge-pagado">Pagado</span></td>
                            <!-- Contacto es comunicación con el cliente, alerta es comunicación con los de artelibre -->
                            <td>Contacto / Alerta</td>
                        </tr>
                        <tr>
                            <!-- Enlace a los detalles de la obra -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a></td>
                            <!-- Ubicación del cliente/comprador -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo Estimado de envio (puede ser un input al registrar el codigo de envio) -->
                            <td>2 Semanas</td>
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Estatus de la transacción -->
                            <td><span class="badge-pagado">Pagado</span></td>
                            <!-- Contacto es comunicación con el cliente, alerta es comunicación con los de artelibre -->
                            <td>Contacto / Alerta</td>
                        </tr>
                        <tr>
                            <!-- Enlace a los detalles de la obra -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a></td>
                            <!-- Ubicación del cliente/comprador -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo Estimado de envio (puede ser un input al registrar el codigo de envio) -->
                            <td>2 Semanas</td>
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Estatus de la transacción -->
                            <td><span class="badge-pagado">Pagado</span></td>
                            <!-- Contacto es comunicación con el cliente, alerta es comunicación con los de artelibre -->
                            <td>Contacto / Alerta</td>
                        </tr>
                        <tr>
                            <!-- Enlace a los detalles de la obra -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a></td>
                            <!-- Ubicación del cliente/comprador -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo Estimado de envio (puede ser un input al registrar el codigo de envio) -->
                            <td>2 Semanas</td>
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Estatus de la transacción -->
                            <td><span class="badge-pagado">Pagado</span></td>
                            <!-- Contacto es comunicación con el cliente, alerta es comunicación con los de artelibre -->
                            <td>Contacto / Alerta</td>
                        </tr>
                        <tr>
                            <!-- Enlace a los detalles de la obra -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a></td>
                            <!-- Ubicación del cliente/comprador -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo Estimado de envio (puede ser un input al registrar el codigo de envio) -->
                            <td>2 Semanas</td>
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Estatus de la transacción -->
                            <td><span class="badge-pagado">Pagado</span></td>
                            <!-- Contacto es comunicación con el cliente, alerta es comunicación con los de artelibre -->
                            <td>Contacto / Alerta</td>
                        </tr>
                        <tr>
                            <!-- Enlace a los detalles de la obra -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a></td>
                            <!-- Ubicación del cliente/comprador -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo Estimado de envio (puede ser un input al registrar el codigo de envio) -->
                            <td>2 Semanas</td>
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Estatus de la transacción -->
                            <td><span class="badge-pagado">Pagado</span></td>
                            <!-- Contacto es comunicación con el cliente, alerta es comunicación con los de artelibre -->
                            <td>Contacto / Alerta</td>
                        </tr>
                        <tr>
                            <!-- Enlace a los detalles de la obra -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a></td>
                            <!-- Ubicación del cliente/comprador -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo Estimado de envio (puede ser un input al registrar el codigo de envio) -->
                            <td>2 Semanas</td>
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Estatus de la transacción -->
                            <td><span class="badge-pagado">Pagado</span></td>
                            <!-- Contacto es comunicación con el cliente, alerta es comunicación con los de artelibre -->
                            <td>Contacto / Alerta</td>
                        </tr>
                        <tr>
                            <!-- Enlace a los detalles de la obra -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a></td>
                            <!-- Ubicación del cliente/comprador -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo Estimado de envio (puede ser un input al registrar el codigo de envio) -->
                            <td>2 Semanas</td>
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Estatus de la transacción -->
                            <td><span class="badge-pagado">Pagado</span></td>
                            <!-- Contacto es comunicación con el cliente, alerta es comunicación con los de artelibre -->
                            <td>Contacto / Alerta</td>
                        </tr>
                        <tr>
                            <!-- Enlace a los detalles de la obra -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a></td>
                            <!-- Ubicación del cliente/comprador -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo Estimado de envio (puede ser un input al registrar el codigo de envio) -->
                            <td>2 Semanas</td>
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Estatus de la transacción -->
                            <td><span class="badge-pagado">Pagado</span></td>
                            <!-- Contacto es comunicación con el cliente, alerta es comunicación con los de artelibre -->
                            <td>Contacto / Alerta</td>
                        </tr>
                        <tr>
                            <!-- Enlace a los detalles de la obra -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a></td>
                            <!-- Ubicación del cliente/comprador -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo Estimado de envio (puede ser un input al registrar el codigo de envio) -->
                            <td>2 Semanas</td>
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Estatus de la transacción -->
                            <td><span class="badge-pagado">Pagado</span></td>
                            <!-- Contacto es comunicación con el cliente, alerta es comunicación con los de artelibre -->
                            <td>Contacto / Alerta</td>
                        </tr>
                        <tr>
                            <!-- Enlace a los detalles de la obra -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a></td>
                            <!-- Ubicación del cliente/comprador -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo Estimado de envio (puede ser un input al registrar el codigo de envio) -->
                            <td>2 Semanas</td>
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Estatus de la transacción -->
                            <td><span class="badge-pagado">Pagado</span></td>
                            <!-- Contacto es comunicación con el cliente, alerta es comunicación con los de artelibre -->
                            <td>Contacto / Alerta</td>
                        </tr>
                        <tr>
                            <!-- Enlace a los detalles de la obra -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a></td>
                            <!-- Ubicación del cliente/comprador -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo Estimado de envio (puede ser un input al registrar el codigo de envio) -->
                            <td>2 Semanas</td>
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Estatus de la transacción -->
                            <td><span class="badge-pagado">Pagado</span></td>
                            <!-- Contacto es comunicación con el cliente, alerta es comunicación con los de artelibre -->
                            <td>Contacto / Alerta</td>
                        </tr>
                        <tr>
                            <!-- Enlace a los detalles de la obra -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a></td>
                            <!-- Ubicación del cliente/comprador -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo Estimado de envio (puede ser un input al registrar el codigo de envio) -->
                            <td>2 Semanas</td>
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Estatus de la transacción -->
                            <td><span class="badge-pagado">Pagado</span></td>
                            <!-- Contacto es comunicación con el cliente, alerta es comunicación con los de artelibre -->
                            <td>Contacto / Alerta</td>
                        </tr>
                        <tr>
                            <!-- Enlace a los detalles de la obra -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a></td>
                            <!-- Ubicación del cliente/comprador -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo Estimado de envio (puede ser un input al registrar el codigo de envio) -->
                            <td>2 Semanas</td>
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Estatus de la transacción -->
                            <td><span class="badge-pagado">Pagado</span></td>
                            <!-- Contacto es comunicación con el cliente, alerta es comunicación con los de artelibre -->
                            <td>Contacto / Alerta</td>
                        </tr>
                        <tr>
                            <!-- Enlace a los detalles de la obra -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a></td>
                            <!-- Ubicación del cliente/comprador -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo Estimado de envio (puede ser un input al registrar el codigo de envio) -->
                            <td>2 Semanas</td>
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Estatus de la transacción -->
                            <td><span class="badge-pagado">Pagado</span></td>
                            <!-- Contacto es comunicación con el cliente, alerta es comunicación con los de artelibre -->
                            <td>Contacto / Alerta</td>
                        </tr>
                        <tr>
                            <!-- Enlace a los detalles de la obra -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a></td>
                            <!-- Ubicación del cliente/comprador -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo Estimado de envio (puede ser un input al registrar el codigo de envio) -->
                            <td>2 Semanas</td>
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Estatus de la transacción -->
                            <td><span class="badge-pagado">Pagado</span></td>
                            <!-- Contacto es comunicación con el cliente, alerta es comunicación con los de artelibre -->
                            <td>Contacto / Alerta</td>
                        </tr>
                        <tr>
                            <!-- Enlace a los detalles de la obra -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a></td>
                            <!-- Ubicación del cliente/comprador -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo Estimado de envio (puede ser un input al registrar el codigo de envio) -->
                            <td>2 Semanas</td>
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Estatus de la transacción -->
                            <td><span class="badge-pagado">Pagado</span></td>
                            <!-- Contacto es comunicación con el cliente, alerta es comunicación con los de artelibre -->
                            <td>Contacto / Alerta</td>
                        </tr>
                        <tr>
                            <!-- Enlace a los detalles de la obra -->
                            <td><a href="#" class="titulo-mis-obras"><h2>Noche Estrellada</h2></a></td>
                            <!-- Ubicación del cliente/comprador -->
                            <td>La Haya, Holanda</td>
                            <!-- Tiempo Estimado de envio (puede ser un input al registrar el codigo de envio) -->
                            <td>2 Semanas</td>
                            <td class="text-muted">175.000 MXN</td>
                            <!-- Estatus de la transacción -->
                            <td><span class="badge-pagado">Pagado</span></td>
                            <!-- Contacto es comunicación con el cliente, alerta es comunicación con los de artelibre -->
                            <td>Contacto / Alerta</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{{> Footer }}