{{> Navigation }}


<section class="container">
    <div class="m-5">
        <h2>Nueva obra</h2>
    </div>

    <form action="" class="form">
        <div class="row">
            
        </div>
    </form>
</section>

{{> Footer }}

</script>