@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-Regular.ttf);
    font-weight: regular;
}

@font-face {
    font-family: MontserratThin;
    src: url(fonts/Montserrat-Thin.ttf);
    font-weight: thin;
}

@font-face {
    font-family: Milonga;
    src: url(fonts/Milonga-Regular.ttf);
    font-weight: regular;
}

:root {
    --bg-dark: #2C2C2C;
    --bg-light: #F9F9F9;
    --gold: #BDA008;
    --second-gold: #E7C201;
    --third-gold: #E6DBA2;
    --artist-shadow: 0px 15px 20px rgba(0, 0, 0, .25);
    --paint-shadow: 20px 25px 60px rgba(0, 0, 0, 0.25);
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

h1 {
    font-family: 'Milonga', sans-serif;
}

h2,
h4,
h5,
h6,
p {
    font-family: 'Montserrat', sans-serif;
    font-weight: regular;
}

h3 {
    font-family: 'MontserratThin', sans-serif;
    font-weight: thin;
}

.gold {
    color: var(--gold) !important;
}

.gray {
    background-color: var(--bg-light) !important;
}

.owl-theme .owl-dots .owl-dot span {
    background: #BDA00855;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #BDA008;
}

.inicial {
    margin-top: 6.5em
}

/*-----------------------------------
    Navegación
-----------------------------------*/

.contenedor-padre-nav {
    margin: 0;
    min-width: 100%;
}

.navegacion-principal {
    border-bottom: 1px solid #e0ddbc;
}

.inicio-responsive {
    margin: auto;
}

.navigation-container {
    max-width: 100%;
}

.logo-no-responsive {
    display: none;
}

.inicio-no-responsive {
    display: none;
}

.outter-inicio-sesion {
    display: flex;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    font-size: .8em;
}


.logo-responsive {
    font-size: .8em;
    margin: 0;
}

.inicio-responsive {
    font-size: 0.5em;
}

.inicio-name {
    font-size: .7em;
    margin: auto;
}

.dropdown-toggle {
    padding: 0;
}

.dropdown-toggle::after {
    display: none;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: var(--gold);
}

.inicio-sesion {
    font-size: 1em;
    border: 2px solid #BDA008;
    color: #BDA008;
    padding: 4px 8px;
    border-radius: 0 5px 5px 0;
    transition: .5s;
}

.inicio-sesion:hover {
    border: 2px solid #BDA008bb;
    color: #BDA008dd;
    text-decoration: none;
}

@media screen and (min-width: 992px) {
    .contenedor-padre-nav {
        margin: auto;
        min-width: 1px;
    }

    .navigation-container {
        display: none;
        max-width: 1px;
    }

    .logo-no-responsive {
        display: inherit;
    }

    .inicio-no-responsive {
        display: inherit;
    }

    .logo-responsive {
        display: none;
    }

    .outter-inicio-sesion {
        display: none;
    }
}

/*-----------------------------------
    Footer
-----------------------------------*/

.footer {
    background: var(--bg-dark);
    padding: 2em 1em 1em 1em;
    border-top: 5px solid var(--gold);
}

.rrss {
    margin: 10px 2px;
}

.rrss:hover {
    opacity: .5;
    transition: .3s ease-in-out;
}

.footer-one {
    font-size: .9em;
    line-height: 1em;
    text-align: justify;
    color: #ffffff;
}

.inner-footer-two-left {
    color: #FFFFFF;
    font-size: .9em;
    line-height: 1em;
    text-align: left;
    padding: 0;
    margin: 0;
}

.inner-footer-two-right {
    color: #FFFFFF;
    font-size: .9em;
    line-height: 1em;
    text-align: right;
    padding: 0;
    margin: 0;
    word-wrap: unset;
}

.copyright {
    font-size: 1em;
    line-height: .5em;
    font-weight: bold;
}

.design-credit {
    color: #ffffff;
    font-weight: bold;
    font-size: .8em;
}

.link-credits {
    color: #FFFFFF;
    text-decoration: none;
    opacity: .25;
}

.link-credits:hover {
    color: #FFFFFF;
    opacity: 1;
    text-decoration: none;
    transition: .3s ease-in;
}

.traslucent-credit {
    opacity: .25;
}

@media screen and (min-width: 576px) {
    .footer-two {
        padding-top: 25px;
        margin-top: 30px;
    }
}

@media screen and (min-width: 1024px) {

    .footer-two {
        margin-top: 55px;
    }

    .footer-two,
    .footer-one {
        padding: 0 100px;
    }
}

/*-----------------------------------
    Home
-----------------------------------*/

.contenedor-hero,
.contenedor-artista-index {
    margin: 0 30px;
}

.imagen-obra-destacada {
    box-shadow: var(--paint-shadow);
    margin-bottom: 35px;
}

.caption-obra-destacada,
.caption-artista-destacado,
.caption-coleccion-destacada {
    text-decoration: underline;
    color: var(--gold);
}

.hero-title,
.artista-title-index,
.coleccion-title {
    color: #000000;
}

.hero-title:hover,
.artista-title-index:hover,
.coleccion-title:hover {
    text-decoration: none;
    color: var(--gold);
    transition: .3s;
}

.second-section-title {
    margin-top: 35px;
    font-weight: bold;
    font-size: 1.1em;
}

.carousel-index .owl-item {
    height: 250px;
}

.imagen-artista-destacado {
    box-shadow: var(--artist-shadow);
    margin-bottom: 35px;
}

.imagen-descripcion {
    max-width: 100%;
    max-height: 60vh;
}

.artist-paragraph-index {
    font-size: .7em;
    line-height: 12px;
    text-align: justify;
    color: #2b2b2b;
}

.imagen-artista-index {
    width: 80vw;
}

.title-eventos-index {
    font-size: 1.5em;
    margin: 1em;
}

.badge-eventos-index,
.badge-ver-coleccion-index {
    background-color: var(--gold);
    color: #FFFFFF;
}

.imagen-evento-index {
    width: 90vw;
    height: 50vw;
}

.evento-inner-image {
    height: 100%;
    margin: auto;
    box-shadow: 10px 5px 20px;
    max-width: 100%;
}

.local-evento-index {
    font-weight: bold;
    font-size: 1.2em;
}

.nombre-evento-index {
    font-size: 1.4em;
}

.lugar-evento-index {
    font-size: .5em;
    font-weight: bold;
}

.caption-coleccion-destacada {
    margin-top: 3em;
}

.container-coleccion-index {
    height: 30vh;
    position: relative;
}

.image-coleccion-destacada {
    position: absolute;
}

.titulo-coleccion-destacada {
    font-size: 1.6em;
    margin: 0 2em 2em 2em;
}

.coleccion-index-1 {
    width: 74%;
    left: 51px;
    margin-top: 10vh;
    z-index: 2;
}

.coleccion-index-2 {
    width: 72%;
    left: 12px;
    margin-top: 30vh;
}

.coleccion-index-3 {
    width: 68%;
    left: 21px;
}

.barra-decorativa-index {
    border-right: 2px solid var(--gold);
    height: 30px
}

@media screen and (min-width: 490px) {

    .caption-obra-destacada,
    .caption-artista-destacado,
    .caption-coleccion-destacada {
        text-decoration: underline;
        color: var(--gold);
        font-size: 1.5em;
    }

    .contenedor-hero,
    .contenedor-artista-index {
        margin: 60px auto;
        max-width: 65vw;
    }

    .second-section-title {
        margin-top: 35px;
        font-weight: bold;
        font-size: 1.8em;
    }

    .artista-title-index {
        font-size: 2em;
    }

    .artist-paragraph-index {
        font-size: 1.2em;
        line-height: 20px;
        text-align: justify;
        color: #2b2b2b;
    }

    .imagen-descripcion {
        max-width: 100%;
        max-height: 60vh;
        padding: 2em;
    }

    .hero-title h1 {
        font-size: 3.5em;
    }

    .imagen-descripcion-1 {
        float: right;
        max-width: 40vw;
    }

    .imagen-descripcion-2 {
        float: left;
        max-height: 45vh;
        margin-left: 6em;
        margin-right: 13em;
    }

    .imagen-artista-destacado {
        box-shadow: var(--artist-shadow);
        margin-bottom: 35px;
        max-width: 65%
    }

    .title-eventos-index {
        font-size: 3em;
        margin: 1em;
    }

    .badge-eventos-index,
    .badge-ver-coleccion-index {
        background-color: var(--gold);
        color: #FFFFFF;
        font-size: 1.2em;
    }

    .local-evento-index {
        font-weight: bold;
        font-size: 2em;
    }

    .nombre-evento-index {
        font-size: 2.5em;
    }

    .lugar-evento-index {
        font-size: 1.2em;
        font-weight: bold;
    }

    .imagen-evento-index {
        max-width: 63vw;
        height: 35vw;
    }

    .container-badge-index {
        margin-top: 60px;
    }

    .barra-decorativa-index {
        height: 70px;
    }

    .coleccion-index-1 {
        width: 56%;
        left: 38%;
        margin-top: 12%;
        z-index: 2;
    }

    .coleccion-index-3 {
        width: 50%;
        left: 6%;
    }

    .coleccion-index-2 {
        width: 61%;
        left: 12%;
        margin-top: 32%;
    }

    .titulo-coleccion-destacada {
        font-size: 3em;
        margin: 0 2em 2em 2em;
    }

    .coleccion-destacada {
        width: 100%;
        margin: 65px auto;
    }

    .container-coleccion-index {
        height: 35vh;
        position: relative;
    }

    .badge.badge-pill.badge-ver-coleccion-index.my-3 {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 998px) {

    .index-first-section {
        direction: rtl;
    }

    .hero-title {
        position: absolute;
        width: 150%;
        top: 40%;
        left: -15%;
        font-size: 1.5em;
    }

    .caption-obra-destacada {
        position: absolute;
        top: 0;
        left: -100%;
        font-size: 1em;
    }

    .container-second-section {
        display: block;
    }

    .barra-decorativa-index {
        margin-bottom: 1em;
    }

    .obra-destacada-large {
        overflow: hidden;
        max-height: 60%;
    }

    .caption-artista-destacado {
        font-size: 1em;
        position: absolute;
        left: 0%;
    }

    .col-12.artist-paragraph-index-container {
        column-count: 3;
        font-size: .8em;
    }

    figure.figure.contenedor-artista-index {
        margin-bottom: 0;
    }

    img.imagen-descripcion.imagen-descripcion-1 {
        max-width: 300px;
        float: none;
    }

    img.imagen-descripcion.imagen-descripcion-2 {
        max-width: 300px;
        float: none;
        margin: auto;
    }

    .col-12.col-lg-6.container-event-index-1 {
        direction: ltr;
    }

    h2.local-evento-index {
        font-size: 1.5em;
    }

    h3.nombre-evento-index {
        font-size: 2em;
    }

    h4.lugar-evento-index.my-3 {
        font-size: 1em;
    }

    .info-event-index {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .col-12.col-lg-6.container-event-index {
        display: flex;
        direction: rtl;
        border-right: 1px solid var(--gold);
    }

    .imagen-evento-index {
        width: 100%;
        height: auto;
        display: flex;
    }

    .evento-inner-image {
        height: 60%;
    }

    .container-image-event {
        display: flex;
    }

    .container-badge-index {
        position: absolute;
    }

    .col-12.col-lg-6.container-image-event {
        max-height: 388px;
    }

    .row-middle-event-index {
        direction: rtl;
    }

    .row-middle-event-index .container-image-event {
        border-left: 2px solid var(--gold);
    }

    .row-event-index:nth-child(2n) .info-event-index {
        border-left: 2px solid var(--gold);
    }

    .container-badge-index-1,
    .container-badge-index-3 {
        right: -63px;
        z-index: 2;
        bottom: 50%;
    }

    .container-badge-index-2 {
        left: -63px;
        z-index: 2;
        bottom: 50%;
    }

    .image-coleccion-destacada.coleccion-index-1 {
        width: 36%;
        left: 44%;
    }

    .image-coleccion-destacada.coleccion-index-2 {
        width: 37%;
        left: 18%;
        margin-top: 18%;
    }

    .image-coleccion-destacada.coleccion-index-3 {
        width: 30%;
        left: 30%;
    }

    span.badge.badge-pill.badge-ver-coleccion-index.my-3 {
        font-size: 1em;
    }

    h1.titulo-coleccion-destacada {
        margin: 0 1em 1em 1em;
    }

    figcaption.figure-caption.caption-coleccion-destacada {
        font-size: 1em;
    }

    .container-coleccion-index {
        height: 50vh;
    }
}

/*-----------------------------------
    Obra
-----------------------------------*/


.precio-obra {
    color: #b1b1b1;
    font-size: 1.5em;
}

.elemento-obra {
    font-size: 1.2rem;
}

.obra-coleccion {
    font-weight: bold;
}

.obra-coleccion a {
    color: var(--gold);
    font-weight: normal;
    transition: .3s ease;
}

.obra-coleccion a:hover {
    text-decoration: none;
    color: #BDA008AA;
}

.obra-artista a {
    color: #ddd;
    font-weight: bold;
    transition: .3s ease;
}

.obra-artista a:hover {
    color: #BDA008AA;
    text-decoration: none;
}

.obra-dato {
    font-weight: bold;
}

.btn-compra {
    background-color: var(--gold);
    font-size: .8em;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    margin: 15px 0;
    transition: .3s ease-in;
}

.btn-compra:hover {
    background-color: #BDA008AA;
    color: #FFFFFF;
}

.obras-recomendadas {
    background-color: white;
    border-top: 2px solid #BDA008;
}

.obra-recomendada.card-img-top {
    width: 100%;
    height: 17vw;
    object-fit: cover;
}

/*-----------------------------------
    Colección
-----------------------------------*/



/*-----------------------------------
    Sidebar Filter
-----------------------------------*/

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


#sidebar {
    min-width: 320px;
    max-width: 320px;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

.sidebar-background {
    background: url('/images/brushesbackground.jpg') no-repeat center;
    background-size: cover;
    filter: grayscale(1);
    min-width: 320px;
    min-height: 100%;
    z-index: -1;
}

#sidebar.active {
    margin-left: -350px;
    transform: rotateY(100deg);
}

.filter-form {
    background-color: #FFFFFFBB !important;
}

.label-filter {
    font-weight: bold;
    color: lightgray;
}

#sidebarCollapse {
    border: none;
    top: 5%;
    position: relative;
    border-radius: 0 30px 30px 0;
    padding: 0px 15px;
    color: white;
    font-weight: bold;
    background: var(--gold);
    box-shadow: 2px 2px 5px #00000066;
    transition: .7 ease;
    z-index: 50;
}

#sidebarCollapse:hover {
    background: #BDA00877;
    box-shadow: 3px 3px 7px #00000011
}

@media (max-width: 768px) {
    #sidebar {
        min-width: 280px;
        max-width: 280px;
        margin-left: -280px;
        transform: rotateY(90deg);
    }

    .sidebar-background {
        min-width: 280px;
    }

    #sidebar.active {
        margin-left: 0;
        transform: none;
    }

    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }

    #sidebarCollapse.active span {
        margin: 0 auto;
    }

    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }

    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }

    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
}

/*-----------------------------------
    Artistas
-----------------------------------*/

.imagen-artistas {
    overflow: hidden;
    height: 200px;
    width: 140px;
    margin: auto;
}

.image-src-artistas {
    height: 100%;
    width: auto;
    filter: grayscale(1);
}

.nombre-artistas {
    font-size: .9rem;
    margin: 0;
}

.nombre-artistas a {
    color: #000;
    transition: .4s ease;
}

.nombre-artistas a:hover {
    color: var(--gold);
    text-decoration: none;
}

.disciplina-artistas {
    font-size: 1rem;
}

/*-----------------------------------
    Paginación
-----------------------------------*/

.paginacion {
    color: #E6DBA2;
}

.paginacion:hover {
    color: var(--gold);
}

/*-----------------------------------
    Obras
-----------------------------------*/

.obras-card-block {
    padding: .75rem 1.25rem 0 1.25rem;
}

.card-columns-obras {
    column-count: 1;
}

.card-title.obra-coleccion {
    font-size: 1.3rem;
}

.card-text:last-child {
    font-size: .8rem;
}

@media screen and (min-width: 768px) {
    .card-columns-obras {
        column-count: 2;
    }
}

@media screen and (min-width: 992px) {
    .card-columns-obras {
        column-count: 3;
    }
}

@media screen and (min-width: 1200px) {
    .card-columns-obras {
        column-count: 4;
    }
}

/*-----------------------------------
    Perfil
-----------------------------------*/

.biografia-artista {
    column-count: 1;
    text-align: justify;
    column-gap: 20px;
}

.coleccion-perfil-artista p {
    color: #BDA008;
    font-family: 'MontserratThin';
    transition: .5s ease;
}

.coleccion-perfil-artista:hover {
    color: rgb(104, 87, 2);
    text-decoration: none;
    font-weight: bold;
}

.proximo-evento-perfil {
    margin-bottom: 15px;
    overflow: hidden;
}

.img-proximo-evento {
    transform: translateY(-75px);
    filter: grayscale(1);
}

.titulo-evento-perfil {
    color: #b4a886;
    transition: .5s ease;
}

.titulo-evento-perfil:hover {
    color: #BDA008;
    text-decoration: none;
}

.container-perfil-image {
    height: 50vh;
    margin-bottom: 15px;
}

.img-perfil-artista {
    width: auto;
    height: 100%;
    box-shadow: 0 10px 25px #b1b1b1;
}

@media screen and (min-width: 768px) {
    .biografia-artista {
        column-count: 2;
    }
}

@media screen and (min-width: 998px) {
    .biografia-artista {
        column-count: 3;
    }
}

.timeline {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 700px;
    position: relative;
}

.timeline__content-title {
    font-weight: normal;
    font-size: 66px;
    margin: -10px 0 0 0;
    transition: 0.4s;
    padding: 0 10px;
    box-sizing: border-box;
    font-family: "Pathway Gothic One", sans-serif;
    color: #fff;
}

.timeline__content-desc {
    margin: 0;
    font-size: 15px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.7);
    font-family: Cardo;
    font-weight: normal;
    line-height: 25px;
}

.timeline:before {
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    content: "";
    background: rgba(255, 255, 255, 0.07);
}

@media only screen and (max-width: 767px) {
    .timeline:before {
        left: 40px;
    }
}

.timeline-item {
    padding: 40px 0;
    opacity: 0.3;
    filter: blur(2px);
    transition: 0.5s;
    box-sizing: border-box;
    width: calc(50% - 40px);
    display: flex;
    position: relative;
    transform: translateY(-80px);
}

.timeline-item:before {
    content: attr(data-text);
    letter-spacing: 3px;
    width: 100%;
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    top: 70%;
    margin-top: -5px;
    padding-left: 15px;
    opacity: 0;
    right: calc(-100% - 56px);
}

.timeline-item:nth-child(even) {
    align-self: flex-end;
}

.timeline-item:nth-child(even):before {
    right: auto;
    text-align: right;
    left: calc(-100% - 56px);
    padding-left: 0;
    border-left: none;
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    padding-right: 15px;
}

.timeline-item--active {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
}

.timeline-item--active:before {
    top: 50%;
    transition: 0.3s all 0.2s;
    opacity: 1;
}

.timeline-item--active .timeline__content-title {
    margin: -50px 0 20px 0;
}

@media only screen and (max-width: 767px) {
    .timeline-item {
        align-self: baseline !important;
        width: 100%;
        padding: 0 30px 150px 80px;
    }

    .timeline-item:before {
        left: 10px !important;
        padding: 0 !important;
        top: 50px;
        text-align: center !important;
        width: 60px;
        border: none !important;
    }

    .timeline-item:last-child {
        padding-bottom: 40px;
    }
}

.timeline__img {
    max-width: 100%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}

.timeline-container {
    width: 100%;
    position: relative;
    padding: 80px 0;
    transition: 0.3s ease 0s;
    background-attachment: fixed;
    background-size: cover;
}

.timeline-container:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(99, 99, 99, 0.8);
    content: "";
}

.timeline-header {
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
    position: relative;
}

.timeline-header__title {
    color: #fff;
    font-size: 46px;
    font-family: Cardo;
    font-weight: normal;
    margin: 0;
}

.timeline-header__subtitle {
    color: rgba(255, 255, 255, 0.5);
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 16px;
    letter-spacing: 5px;
    margin: 10px 0 0 0;
    font-weight: normal;
}

/*-----------------------------------
    Nueva Obra
-----------------------------------*/

.label-agregar-fotos {
    color: var(--gold);
    font-size: 1em;
    text-transform: uppercase;
    padding: .5em 2em;
    margin: 2em 0;
    border-radius: 10px;
    border: 2px solid var(--gold);
    cursor: pointer;
    transition: .4s ease;
}

.label-agregar-fotos:hover {
    color: #E7C201;
    border: 2px solid #E7C201;
}

.imagen-galeria-input {
    max-width: 100%;
    transition: .5s ease;
}

.imagen-galeria-input:hover {
    content: 'X';
    filter: grayscale(1);
    cursor: pointer;
}

.guardar-obra {
    margin-bottom: 30px;
    background-color: var(--gold);
    color: white;
    padding: .5em 2em;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 5px 10px #ddd;
    transition: .5s ease;
}

.guardar-obra:hover {
    background-color: var(--second-gold);
}

.form-control:focus {
    border-color: var(--gold);
    outline: 0;
    box-shadow: 0 0 0 0.2rem #E7C20133;
}

/*-----------------------------------
    Registro
-----------------------------------*/


/*--------------Inicial------------*/

.registro {
    height: calc(100vh - 213.8px);
    display: flex;
}

.registro-cliente {
    display: flex;
    background-image: url("/images/cliente.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    width: 100%;
    height: 190px;
    transition: .5s ease;
}

.registro-artista {
    display: flex;
    align-items: center;
    background-image: url("/images/artista.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    width: 100%;
    height: 190px;
    transition: .5s ease;
}

.blur-artista,
.blur-cliente {
    position: absolute;
    background: rgba(255, 255, 255, .1);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    border-radius: 10px;
    transition: .3s ease;
}

.registro-cliente:hover,
.registro-artista:hover {
    cursor: pointer;
}

.registro-artista h1,
.registro-cliente h1 {
    color: white;
    z-index: 4;
}

/*--------------Artista------------*/

.foto-container {
    width: 280px;
    height: 350px;
    overflow: hidden;
    border: 2px solid var(--gold);
    background-color: #fff;
    transition: .5s ease;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--gold);
    z-index: 1;
}

.foto-container:hover {
    cursor: pointer;
    background-color: var(--gold);
    color: white;
}

.img-perfil-registro {
    position: relative;
    z-index: 2;
    top: -350px
}

/*-----------------------------------
    Inicio de sesión
-----------------------------------*/

.login-arriba {
    background-color: #ddd;
    position: relative;
    width: 100%;
    height: 50vh;
}

.card-inicio-sesion {
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
    border-radius: 15px;
    min-width: 320px;
}

.login-abajo {
    width: 100%;
    min-height: 50vh;
    position: relative;
    background-image: url(/images/artista.jpg);
    background-position: center;
    background-size: cover;
    filter: grayscale(1);
}

.boton-signup {
    background: #BDA008;
    border-radius: 5px 0 0 5px;
    color: white;
    transition: .5s;
}

.boton-signup:hover {
    opacity: .7;
    color: white;
}

.olvido-contraseña {
    position: relative;
    bottom: -35px;
    justify-content: center;
    font-size: .8em;
    color: var(--gold);
}

.btn-recuperar {
    color: #FFFFFF;
    background: #BDA008;
}

.btn-recuperar:hover {
    opacity: .8;
    color: #FFFFFF;
}

/*-----------------------------------
    Colección
-----------------------------------*/

.item-coleccion-carrusel {
    width: 100%;
    margin: 55px auto;
}

.owl-carousel .carousel-coleccion.active.center {
    transform: scale(1.2);
    z-index: 999;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
}

.owl-carousel .carousel-coleccion.active.center figcaption {
    display: inherit;
}

.owl-carousel .carousel-coleccin.active.center .item {
    box-shadow: 5px 0 10px #000000
}

.owl-carousel .owl-item.carousel-coleccion {
    transform: scale(.9);
    transform: translateY(-40px);
    opacity: .6;
    transition: all .5s;
}

.owl-carousel .owl-item.carousel-coleccion figcaption {
    display: none;
}

.carrusel-coleccion .owl-stage-outer {
    height: 450px;
}

.carrusel-coleccion .owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    margin-left: -20px !important;
    display: block !important;
    border: 0px solid black;
}

.carrusel-coleccion .owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    right: -25px;
    display: block !important;
    border: 0px solid black;
}

.carrusel-coleccion .owl-nav {
    color: var(--gold);
    transition: .5s ease;
}

.carrusel-coleccion .owl-nav button {
    outline: none;
}

.carrusel-coleccion .owl-nav [class*=owl-]:hover {
    transform: scale(1.5);
    background-color: unset;
    color: #e2d179;
}

.enlace-obra-coleccion {
    color: var(--gold);
}

.enlace-obra-coleccion:hover {
    color: #E7C201;
    text-decoration: none;
}

.descripcion-coleccion {
    column-count: 1;
    column-gap: 2em;
    text-align: justify;
}

@media screen and (min-width: 768px) {
    .descripcion-coleccion {
        column-count: 2;
    }
}

@media screen and (min-width: 999px) {
    .descripcion-coleccion {
        column-count: 3;
    }
}


/*-----------------------------------
    Colección
-----------------------------------*/

#content {
    position: relative;
    overflow: hidden;
    background-color: #FFF;
}

.content-wrap {
    position: relative;
    padding: 80px 0;
}

.postcontent {
    width: 74%;
    display: block;
    position: relative;
    margin-right: 4%;
    margin-bottom: 50px;
    float: left;
}

.nobottommargin {
    margin-bottom: 0 !important;
}


#posts {
    position: relative;
}

#posts .entry-content {
    margin-top: 30px;
}

.entry {
    position: relative;
    margin: 0 0 50px;
}

.entry:after {
    content: '';
    position: relative;
    height: 2px;
    margin-top: 50px;
    background-color: #F5F5F5;
}

.entry-image {
    margin-bottom: 30px;
}

.entry-image,
.entry-image>a,
.entry-image .slide a,
.entry-image img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}

.fslider,
.fslider .flexslider,
.fslider .slider-wrap,
.fslider .slide,
.fslider .slide>a,
.fslider .slide>img,
.fslider .slide>a>img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
}

.fslider {
    min-height: 32px;
}


.fslider[data-animation="fade"][data-thumbs="true"] .flexslider,
.fslider.testimonial[data-animation="fade"] .flexslider {
    height: auto !important;
}


.fslider[data-thumbs="true"] .flex-prev,
.fslider[data-thumbs="true"] .flex-next {
    margin-top: -64px;
}

.flexslider a:active,
.flexslider a:focus {
    outline: none;
    border: none;
}


.flexslider {
    position: relative;
    margin: 0;
    padding: 0;
}

.flexslider .slider-wrap>.slide {
    display: none;
    -webkit-backface-visibility: hidden;
}

.flexslider .slider-wrap img {
    width: 100%;
    display: block;
}

.slider-wrap,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
}


.slider-wrap:after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .slider-wrap {
    display: block;
}

* html .slider-wrap {
    height: 1%;
}


.no-js .slider-wrap>.slide:first-child {
    display: block;
}

.entry-image .slide a,
.entry-image img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}


.entry-title h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.entry-title h2 a {
    color: #333;
}

.entry-title h2 a:hover {
    color: #BDA008;
}

.entry-meta {
    margin: 10px -10px -15px 0;
    list-style: none;
}


.entry-meta li {
    float: left;
    font-size: 13px;
    line-height: 14px;
    margin: 0 10px 15px 0;
    color: #999;
    font-style: italic;
}

.entry-meta li:before {
    content: '/';
    display: inline-block;
    margin-right: 10px;
    opacity: 0.5
}

.entry-meta li i {
    position: relative;
    top: 1px;
    font-size: 14px;
    margin-right: 3px;
}

.entry-meta li a {
    color: #999;
}

.entry-meta li a:hover {
    color: #BDA008;
}

.entry-meta li:first-child:before {
    display: none;
}

.entry-meta li ins {
    font-weight: 700;
    text-decoration: none;
}

.entry-content {
    position: relative;
}


.more-link {
    display: inline-block;
    border-bottom: 1px solid #BDA008;
    padding: 0 2px;
    text-decoration: none;
    color: #BDA008;
}

.more-link:hover {
    color: #E7C201;
    text-decoration: none;
}

.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.flex-control-nav {
    position: absolute;
    z-index: 10;
    text-align: center;
    top: 14px;
    right: 10px;
    margin: 0;
}

.flex-control-nav li {
    float: left;
    display: block;
    margin: 0 3px;
    width: 10px;
    height: 10px;
}

.flex-control-nav li a {
    display: block;
    cursor: pointer;
    text-indent: -9999px;
    width: 10px !important;
    height: 10px !important;
    border: 1px solid #BDA008;
    border-radius: 50%;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.flex-control-nav li:hover a,
.flex-control-nav li a.flex-active {
    background-color: #BDA008;
}


/*-----------------------------------
    Mis Ventas/Mis Pedidos
-----------------------------------*/

.mis-ventas .table thead tr th, 
.mis-pedidos .table thead tr th 
{
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: lighter;
}

.mis-ventas .table tbody tr:hover,
.mis-pedidos .table tbody tr:hover 
{
    background-color: #BDA00811;
}

.mis-ventas .table tbody td h2, .mis-ventas .table tbody td h3,
.mis-pedidos .table tbody td h2, .mis-pedidos .table tbody td h3 {
    font-size: 1em;
}

.table tbody tr:nth-of-type(2n) {
    background-color: #f8f8f8;
}

.badge-pagado {
    background-color: var(--bg-light);
    text-transform: uppercase;
    color: var(--gold);
    border-radius: 25px;
    font-size: .8em;
    font-weight: bold;
    padding: 4px 20px;
    border: 2px solid var(--gold);
}

.badge-enviado {
    background-color: var(--second-gold);
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 25px;
    font-size: .8em;
    font-weight: bold;
    padding: 4px 20px;
}

.badge-recibido {
    background-color: var(--gold);
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 25px;
    font-size: .8em;
    font-weight: bold;
    padding: 4px 20px;
}

.badge-pendiente {
    background-color: #FFFFFF;
    text-transform: uppercase;
    color: #c2c2c2;
    border-radius: 25px;
    font-size: .8em;
    font-weight: bold;
    padding: 4px 15px;
    border: 2px solid #c2c2c2;
}

/*-----------------------------------
    Mis Obras
-----------------------------------*/

.titulo-mis-obras {
    color: #000000;
}

.titulo-mis-obras:hover {
    color: #BDA008;
    text-decoration: none;
    transition: .5s;
}

.coleccion-mis-obras {
    color: #7a7a7a;
}

.coleccion-mis-obras:hover {
    color: #BDA008;
    text-decoration: none;
    transition: .5s;
}

.accion-editar {
    color: #7a7a7a;
    font-weight: bold;
}

.accion-editar:hover {
    color: #BDA008;
    text-decoration: none;
    transition: .5s;
}

/*-----------------------------------
    Mis Obras
-----------------------------------*/

.artista-tabla {
    color: #c0c0c0;
}

.artista-tabla:hover {
    color: #BDA008;
    text-decoration: none;
}

.badge-pagar {
    background-color: var(--gold);
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 25px;
    font-size: .8em;
    font-weight: bold;
    padding: 4px 20px;
    border: none;
}

.badge-pagar:hover {
    opacity: .8;
}