<div class="wrapper">
  <!-- Sidebar Holder -->

  <div class="sidebar-admin" id="sidebar-wrapper-admin">
    <div class="list-sidebar-admin">
      <a href="/admin/dashboard" class="list-item-admin">Inicio <i class="fas fa-caret-left selector-sidebar"></i></a>
      <a href="/admin/artistas" class="list-item-admin">Artistas <i class="fas fa-caret-left selector-sidebar"></i></a>
      <a href="/admin/clientes" class="list-item-admin">Clientes <i class="fas fa-caret-left selector-sidebar"></i></a>
      <a href="/admin/obras" class="list-item-admin">Obras <i class="fas fa-caret-left selector-sidebar"></i></a>
      <a href="/admin/eventos" class="list-item-admin">Eventos <i class="fas fa-caret-left selector-sidebar"></i></a>
      <a href="/admin/subastas" class="list-item-admin">Subastas <i class="fas fa-caret-left selector-sidebar"></i></a>
      <a href="/admin/colecciones" class="list-item-admin">Colecciones <i
          class="fas fa-caret-left selector-sidebar"></i></a>
      {{!-- <a href="/admin/ventas" class="list-item-admin">Ventas <i class="fas fa-caret-left selector-sidebar"></i></a> --}}
      <a href="/admin/tasas" class="list-item-admin">Tasas <i class="fas fa-caret-left selector-sidebar"></i></a>
      <a href="/admin/rendimiento" class="list-item-admin">Rendimiento <i
          class="fas fa-caret-left selector-sidebar"></i></a>
      <div class="divider-admin-sidebar"></div>
      <a href="/logout" class="list-item-admin">Cerrar sesión <i
          class="fas fa-caret-left selector-sidebar"></i></a>
    </div>
  </div>

  <div id="content" class="w-100 inicial bg-light">
