<div class="wrapper">
  <!-- Sidebar Holder -->

  <div class="sidebar-admin" id="sidebar-wrapper-admin">
    <div class="list-sidebar-admin">
      <a href="/artista/dashboard" class="list-item-admin">Inicio <i class="fas fa-caret-left selector-sidebar"></i></a>
      <a href="/artista/ventas" class="list-item-admin">Mis Ventas <i class="fas fa-caret-left selector-sidebar"></i></a>
      <a href="/artista/obras" class="list-item-admin"> Mis Obras <i class="fas fa-caret-left selector-sidebar"></i></a>
      <a href="/artista/eventos" class="list-item-admin">Mis Eventos <i class="fas fa-caret-left selector-sidebar"></i></a>
      <a href="/artista/subastas" class="list-item-admin">Mis Subastas <i class="fas fa-caret-left selector-sidebar"></i></a>
      <a href="/artista/colecciones" class="list-item-admin">Mis Colecciones <i class="fas fa-caret-left selector-sidebar"></i></a>
      <a href="/artista/rendimiento" class="list-item-admin">Rendimiento <i class="fas fa-caret-left selector-sidebar"></i></a>
      <div class="divider-admin-sidebar"></div>
      <a href="/artista/nueva-coleccion" class="list-item-admin">Crear Colección <i class="fas fa-caret-left selector-sidebar"></i></a>
      <a href="/artista/nueva-obra" class="list-item-admin">Publicar Obra <i class="fas fa-caret-left selector-sidebar"></i></a>
      <a href="/artista/nuevo-evento" class="list-item-admin">Crear Evento <i class="fas fa-caret-left selector-sidebar"></i></a>
      <div class="divider-admin-sidebar"></div>
      <a href="/admin/logout" class="list-item-admin">Cerrar sesión <i
          class="fas fa-caret-left selector-sidebar"></i></a>
    </div>
  </div>

  <div id="content" class="w-100 inicial">
