<div class="wrapper">
  <!-- Sidebar Holder -->

  <div class="sidebar-admin" id="sidebar-wrapper-admin">
    <div class="list-sidebar-admin">
      <a href="/dashboard" class="list-item-admin">Inicio <i class="fas fa-caret-left selector-sidebar"></i></a>
      <a href="/dashboard/ventas" class="list-item-admin">Mis Ventas <i class="fas fa-caret-left selector-sidebar"></i></a>
      <a href="/dashboard/obras" class="list-item-admin"> Mis Obras <i class="fas fa-caret-left selector-sidebar"></i></a>
      <a href="/dashboard/eventos" class="list-item-admin">Mis Eventos <i class="fas fa-caret-left selector-sidebar"></i></a>
      <a href="/dashboard/subastas" class="list-item-admin">Mis Subastas <i class="fas fa-caret-left selector-sidebar"></i></a>
      <a href="/dashboard/colecciones" class="list-item-admin">Mis Colecciones <i class="fas fa-caret-left selector-sidebar"></i></a>
      <a href="/dashboard/rendimiento" class="list-item-admin">Rendimiento <i class="fas fa-caret-left selector-sidebar"></i></a>
      <div class="divider-admin-sidebar"></div>
      <a href="/dashboard/nueva-coleccion" class="list-item-admin">Crear Colección <i class="fas fa-caret-left selector-sidebar"></i></a>
      <a href="/dashboard/nueva-obra" class="list-item-admin">Publicar Obra <i class="fas fa-caret-left selector-sidebar"></i></a>
      <a href="/dashboard/nuevo-evento" class="list-item-admin">Crear Evento <i class="fas fa-caret-left selector-sidebar"></i></a>
      <div class="divider-admin-sidebar"></div>
      <a href="/admin/logout" class="list-item-admin">Cerrar sesión <i
          class="fas fa-caret-left selector-sidebar"></i></a>
    </div>
  </div>

  <div id="content" class="w-100 inicial">
