<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar" class="sidebar-background inicial">
        <div class="position-absolute"></div>
        <h3 class="p-5 gold">Filtros</h3>

        <form action="/artistas" method="GET" class="form-group">
            <div class="w-75 text-center mx-auto mb-3">
                <div class="w-100 text-left">
                    <label class="label-filter my-1 mr-2 text-left" for="inlineFormCustomSelectPref">Tipo</label>
                </div>
                <input type="text" placeholder="Tipo" name="tipoArtistas"
                    class="form-control badge-pill filter-form form-control-sm" id="inlineFormCustomSelectPref">
            </div>
            <div class="w-75 text-center mx-auto mb-3">
                <div class="w-100 text-left">
                    <label class="label-filter my-1 mr-2 text-left" for="inlineFormCustomSelectPref">Disciplina</label>
                </div>
                <input type="text" placeholder="Técnica" name="tecnicaArtistas"
                    class="form-control badge-pill filter-form form-control-sm" id="inlineFormCustomSelectPref">
            </div>

            <div class="w-75 text-center mx-auto mb-3">
                <div class="w-100 text-left">
                    <label class="label-filter my-1 mr-2 text-left" for="inlineFormCustomSelectPref">Nombre</label>
                </div>
                <input type="text" placeholder="Nombre" name="nombreArtistas"
                    class="mx-auto badge-pill filter-form form-control form-control-sm" id="inlineFormCustomSelectPref">
            </div>
            <div class="w-75 text-right mx-auto">
                <input class="btn btn-compra" type="submit" value="Buscar">
            </div>
        </form>
    </nav>
    <div id="content" class="w-100">

        <button type="button" id="sidebarCollapse">
                <i id="nodo-flecha" class="fas fa-arrow-left"></i>
        </button>