<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-social text-left">
                    <span class="instagram rrss">
                        <a href="#">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.6 0C5.1935 0 0 5.1935 0 11.6C0 18.0065 5.1935 23.2 11.6 23.2C18.0065 23.2 23.2 18.0065 23.2 11.6C23.2 5.1935 18.0065 0 11.6 0ZM9.04975 5.4507C9.70967 5.42067 9.92054 5.41333 11.6007 5.41333H11.5988C13.2795 5.41333 13.4896 5.42067 14.1496 5.4507C14.8082 5.48086 15.258 5.58514 15.6524 5.73813C16.0597 5.89602 16.4038 6.1074 16.748 6.45154C17.0921 6.79542 17.3035 7.14058 17.462 7.54749C17.6141 7.94086 17.7185 8.39043 17.7495 9.04906C17.7791 9.70898 17.7868 9.91984 17.7868 11.6001C17.7868 13.2803 17.7791 13.4906 17.7495 14.1505C17.7185 14.8089 17.6141 15.2586 17.462 15.6521C17.3035 16.0589 17.0921 16.4041 16.748 16.7479C16.4042 17.0921 16.0596 17.304 15.6528 17.462C15.2592 17.615 14.8091 17.7192 14.1505 17.7494C13.4905 17.7794 13.2803 17.7868 11.6 17.7868C9.91989 17.7868 9.70916 17.7794 9.04924 17.7494C8.39074 17.7192 7.94104 17.615 7.54741 17.462C7.14076 17.304 6.79559 17.0921 6.45184 16.7479C6.10783 16.4041 5.89645 16.0589 5.73831 15.652C5.58544 15.2586 5.48117 14.809 5.45088 14.1504C5.42098 13.4905 5.4135 13.2803 5.4135 11.6001C5.4135 9.91984 5.42124 9.70885 5.45075 9.04893C5.4804 8.39056 5.5848 7.94086 5.73818 7.54736C5.89671 7.14058 6.10809 6.79542 6.45223 6.45154C6.79611 6.10753 7.14128 5.89615 7.54818 5.73813C7.94156 5.58514 8.39112 5.48086 9.04975 5.4507Z"
                                    fill="#BDA008" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.0456 6.52816C11.1534 6.52799 11.2693 6.52804 11.3944 6.5281L11.6006 6.52816C13.2525 6.52816 13.4483 6.53409 14.1006 6.56373C14.7038 6.59131 15.0312 6.69211 15.2493 6.77679C15.538 6.88892 15.7438 7.02297 15.9602 7.2395C16.1768 7.45604 16.3108 7.66226 16.4232 7.95098C16.5079 8.1688 16.6088 8.49618 16.6363 9.09939C16.6659 9.75157 16.6723 9.94749 16.6723 11.5986C16.6723 13.2497 16.6659 13.4456 16.6363 14.0978C16.6087 14.701 16.5079 15.0283 16.4232 15.2462C16.3111 15.5349 16.1768 15.7405 15.9602 15.9569C15.7437 16.1734 15.5381 16.3074 15.2493 16.4196C15.0314 16.5046 14.7038 16.6052 14.1006 16.6328C13.4484 16.6624 13.2525 16.6689 11.6006 16.6689C9.94865 16.6689 9.75287 16.6624 9.10068 16.6328C8.49748 16.6049 8.1701 16.5041 7.95189 16.4195C7.66317 16.3073 7.45695 16.1733 7.24041 15.9567C7.02388 15.7402 6.88983 15.5345 6.77744 15.2456C6.69276 15.0278 6.59184 14.7004 6.56438 14.0972C6.53474 13.4451 6.52881 13.2491 6.52881 11.597C6.52881 9.94491 6.53474 9.75003 6.56438 9.09784C6.59196 8.49464 6.69276 8.16725 6.77744 7.94917C6.88957 7.66046 7.02388 7.45423 7.24041 7.2377C7.45695 7.02116 7.66317 6.88712 7.95189 6.77472C8.16997 6.68966 8.49748 6.58912 9.10068 6.56141C9.67141 6.53563 9.89259 6.5279 11.0456 6.52661V6.52816ZM14.9029 7.55569C14.493 7.55569 14.1605 7.88784 14.1605 8.29784C14.1605 8.70771 14.493 9.04025 14.9029 9.04025C15.3128 9.04025 15.6453 8.70771 15.6453 8.29784C15.6453 7.88797 15.3128 7.55543 14.9029 7.55543V7.55569ZM8.4234 11.6002C8.4234 9.84565 9.84589 8.42311 11.6004 8.42304C13.355 8.42304 14.7772 9.8456 14.7772 11.6002C14.7772 13.3548 13.3551 14.7767 11.6005 14.7767C9.84596 14.7767 8.4234 13.3548 8.4234 11.6002Z"
                                    fill="#BDA008" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.6003 9.53784C12.7392 9.53784 13.6626 10.4611 13.6626 11.6001C13.6626 12.739 12.7392 13.6623 11.6003 13.6623C10.4613 13.6623 9.53809 12.739 9.53809 11.6001C9.53809 10.4611 10.4613 9.53784 11.6003 9.53784V9.53784Z"
                                    fill="#BDA008" />
                            </svg>
                        </a>
                    </span>
                    <span class="twitter rrss">
                        <a href="#">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.9999 0.386719C5.5934 0.386719 0.399902 5.58021 0.399902 11.9867C0.399902 18.3932 5.5934 23.5867 11.9999 23.5867C18.4064 23.5867 23.5999 18.3932 23.5999 11.9867C23.5999 5.58021 18.4064 0.386719 11.9999 0.386719ZM11.677 10.2167L11.6526 9.81532C11.5796 8.77499 12.2206 7.82477 13.2349 7.45615C13.6081 7.32509 14.241 7.3087 14.6548 7.42339C14.8171 7.47253 15.1254 7.63637 15.3445 7.78381L15.7421 8.05413L16.1802 7.91488C16.4236 7.84115 16.7482 7.71828 16.8943 7.63637C17.0322 7.56264 17.1539 7.52168 17.1539 7.54626C17.1539 7.68551 16.8537 8.16062 16.6022 8.42276C16.2614 8.79138 16.3587 8.82414 17.0484 8.57839C17.4622 8.43914 17.4703 8.43914 17.3892 8.59478C17.3405 8.67669 17.089 8.9634 16.8212 9.22553C16.3668 9.67606 16.3425 9.72521 16.3425 10.102C16.3425 10.6836 16.0666 11.896 15.7908 12.5595C15.2796 13.8046 14.1842 15.0907 13.0888 15.7378C11.5472 16.6471 9.49432 16.8764 7.76605 16.344C7.18996 16.1638 6.20006 15.705 6.20006 15.6231C6.20006 15.5986 6.50027 15.5658 6.8654 15.5576C7.62811 15.5412 8.39083 15.3282 9.03994 14.9514L9.4781 14.6893L8.97503 14.5173C8.261 14.2715 7.62 13.7063 7.45772 13.1739C7.40904 13.0018 7.42527 12.9936 7.87965 12.9936L8.35026 12.9854L7.95267 12.797C7.48206 12.5595 7.05202 12.1581 6.84106 11.7485C6.68689 11.4536 6.49216 10.7082 6.54896 10.6509C6.56519 10.6263 6.73558 10.6754 6.93031 10.741C7.49018 10.9458 7.5632 10.8966 7.23864 10.5526C6.6301 9.93 6.44348 9.00436 6.73558 8.12786L6.87352 7.73466L7.40904 8.26712C8.50442 9.34021 9.79454 9.97915 11.2713 10.1676L11.677 10.2167Z"
                                    fill="#BDA008" />
                            </svg>
                        </a>
                    </span>
                    <span class="facebook rrss">
                        <a href="#">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.8002 0.386719C5.39369 0.386719 0.200195 5.58021 0.200195 11.9867C0.200195 18.3932 5.39369 23.5867 11.8002 23.5867C18.2067 23.5867 23.4002 18.3932 23.4002 11.9867C23.4002 5.58021 18.2067 0.386719 11.8002 0.386719ZM13.0089 12.4962V18.8073H10.3977V12.4965H9.09316V10.3217H10.3977V9.01593C10.3977 7.24172 11.1343 6.18671 13.2272 6.18671H14.9696V8.36176H13.8805C13.0658 8.36176 13.0119 8.6657 13.0119 9.23292L13.0089 10.3214H14.9819L14.751 12.4962H13.0089Z"
                                    fill="#BDA008" />
                            </svg>
                        </a>
                    </span>
                    <span class="linkedin rrss">
                        <a href="#">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M12.3998 0.386719C5.9933 0.386719 0.799805 5.58021 0.799805 11.9867C0.799805 18.3932 5.9933 23.5867 12.3998 23.5867C18.8063 23.5867 23.9998 18.3932 23.9998 11.9867C23.9998 5.58021 18.8063 0.386719 12.3998 0.386719ZM6.36868 9.99416H8.9975V17.8927H6.36868V9.99416ZM9.17081 7.55101C9.15375 6.77657 8.59994 6.18671 7.70064 6.18671C6.80134 6.18671 6.21341 6.77657 6.21341 7.55101C6.21341 8.30941 6.78396 8.91626 7.66651 8.91626H7.68331C8.59994 8.91626 9.17081 8.30941 9.17081 7.55101ZM15.4515 9.80888C17.1813 9.80888 18.4782 10.938 18.4782 13.3641L18.4781 17.8928H15.8494V13.6672C15.8494 12.6057 15.469 11.8815 14.5174 11.8815C13.7911 11.8815 13.3585 12.3697 13.1685 12.8413C13.099 13.0103 13.0819 13.2458 13.0819 13.4819V17.8931H10.4528C10.4528 17.8931 10.4875 10.7357 10.4528 9.99457H13.0819V11.1133C13.4308 10.5755 14.0557 9.80888 15.4515 9.80888Z"
                                    fill="#BDA008" />
                            </svg>
                        </a>
                    </span>
                    <span class="whatsapp rrss">
                        <a href="#">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M23.2 11.9867C23.2 18.3932 18.0065 23.5867 11.6 23.5867C5.1935 23.5867 0 18.3932 0 11.9867C0 5.58021 5.1935 0.386719 11.6 0.386719C18.0065 0.386719 23.2 5.58021 23.2 11.9867ZM11.9795 18.4403H11.9824C15.7855 18.4388 18.8785 15.3449 18.8801 11.5427C18.8808 9.69964 18.164 7.96664 16.8617 6.66289C15.5594 5.35908 13.8275 4.64074 11.9823 4.63994C8.18036 4.63994 5.08605 7.73409 5.08453 11.5372C5.08401 12.7529 5.40164 13.9395 6.00527 14.9856L5.0267 18.5599L8.68329 17.6007C9.69077 18.1503 10.8251 18.4399 11.9795 18.4403Z"
                                    fill="#BDA008" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M9.06194 16.4765L8.85259 16.3522L6.68272 16.9214L7.26189 14.8058L7.12558 14.5889C6.55168 13.6761 6.24858 12.6211 6.24902 11.5378C6.25028 8.37683 8.82217 5.80518 11.9845 5.80518C13.5158 5.80571 14.9553 6.4028 16.0377 7.48648C17.1201 8.57016 17.7159 10.0105 17.7153 11.5425C17.7141 14.7037 15.1422 17.2756 11.9823 17.2756H11.98C10.9512 17.2752 9.94218 16.9988 9.06194 16.4765ZM15.2213 13.0278C15.3415 13.0859 15.4226 13.1252 15.4573 13.183C15.5004 13.2549 15.5004 13.6 15.3568 14.0026C15.2132 14.4052 14.5246 14.7726 14.1934 14.8221C13.8965 14.8665 13.5208 14.885 13.1079 14.7538C12.8576 14.6744 12.5366 14.5683 12.1254 14.3908C10.5096 13.6931 9.4177 12.1271 9.21133 11.8311C9.19687 11.8104 9.18676 11.7959 9.18112 11.7883L9.17973 11.7865C9.08852 11.6648 8.47737 10.8494 8.47737 10.0054C8.47737 9.21153 8.86734 8.79542 9.04685 8.60388C9.05914 8.59075 9.07045 8.57868 9.08058 8.56762C9.23856 8.39507 9.42529 8.35193 9.54018 8.35193C9.65507 8.35193 9.77009 8.35299 9.87051 8.35804C9.8829 8.35866 9.89579 8.35858 9.90911 8.35851C10.0095 8.35792 10.1348 8.35718 10.2583 8.6539C10.3058 8.76809 10.3753 8.93738 10.4487 9.11593C10.597 9.47698 10.7608 9.87589 10.7897 9.93362C10.8328 10.0199 10.8615 10.1205 10.804 10.2356C10.7954 10.2528 10.7874 10.2691 10.7798 10.2847C10.7367 10.3728 10.7049 10.4376 10.6317 10.5231C10.6029 10.5567 10.5731 10.5929 10.5434 10.6292C10.4841 10.7014 10.4248 10.7736 10.3732 10.825C10.2869 10.911 10.1971 11.0042 10.2976 11.1768C10.3981 11.3493 10.744 11.9137 11.2564 12.3707C11.8072 12.862 12.2859 13.0696 12.5285 13.1749C12.5759 13.1954 12.6143 13.2121 12.6424 13.2262C12.8147 13.3125 12.9153 13.298 13.0158 13.183C13.1163 13.068 13.4466 12.6797 13.5615 12.5072C13.6764 12.3347 13.7913 12.3635 13.9493 12.421C14.1073 12.4785 14.9547 12.8954 15.127 12.9817C15.1607 12.9986 15.1921 13.0138 15.2213 13.0278Z"
                                    fill="#BDA008" />
                            </svg>
                        </a>
                    </span>
                    <span class="telegram rrss">
                        <a href="#">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M12.1996 23.5867C18.6061 23.5867 23.7996 18.3932 23.7996 11.9867C23.7996 5.58021 18.6061 0.386719 12.1996 0.386719C5.79311 0.386719 0.599609 5.58021 0.599609 11.9867C0.599609 18.3932 5.79311 23.5867 12.1996 23.5867ZM10.0735 17.3033C10.3556 17.3033 10.4845 17.1778 10.6404 17.026L10.6535 17.0133L12.0467 15.6585L14.9452 17.8C15.4787 18.0943 15.8637 17.9419 15.9966 17.3047L17.8995 8.33764C18.0943 7.55655 17.6017 7.20229 17.0914 7.43398L5.9177 11.7425C5.15499 12.0484 5.15944 12.4739 5.77867 12.6635L8.6461 13.5585L15.2845 9.37043C15.5979 9.1804 15.8855 9.28256 15.6494 9.49208L10.2704 14.3462L10.2708 14.3465L10.0735 17.3033Z"
                                    fill="#BDA008" />
                            </svg>
                        </a>
                    </span>
                    <span class="messenger rrss">
                        <a href="#">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M12.3998 0C5.9933 0 0.799805 5.1935 0.799805 11.6C0.799805 18.0065 5.9933 23.2 12.3998 23.2C18.8063 23.2 23.9998 18.0065 23.9998 11.6C23.9998 5.1935 18.8063 0 12.3998 0ZM5.43987 11.0844C5.43987 7.52521 8.55596 4.63994 12.3999 4.63994C16.2438 4.63994 19.3599 7.52521 19.3599 11.0844C19.3599 14.6436 16.2438 17.5288 12.3999 17.5288C11.7059 17.5288 11.0359 17.4344 10.4035 17.2593L8.03366 18.5599V16.1028C6.45196 14.9215 5.43987 13.1125 5.43987 11.0844Z"
                                    fill="#BDA008" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M12.9085 13.1467L11.1639 11.3368L7.75977 13.1467L11.5043 9.28003L13.2915 11.09L16.6531 9.28003L12.9085 13.1467Z"
                                    fill="#BDA008" />
                            </svg>
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="footer-one">
                    <p>Fusce quis semper felis. Aliquam vestibulum diam sapien. Curabitur aliquam pharetra tortor ut
                        faucibus. In laoreet sem et metus congue, eget malesuada felis auctor. Integer porta ullamcorper
                        dui eu varius. Maecenas vel rhoncus quam. Phasellus nec tempor felis. Quisque eget finibus urna.
                        Quisque pharetra sed enim id cursus. </p>
                </div>
            </div>
            <div class="col-12  col-lg-6">
                <div class="footer-two">
                    <div class="row">
                        <div class="col-6">
                            <p class="inner-footer-two-left">#41524</p>
                            <p class="inner-footer-two-left">Calle 54 - Av. Libertador</p>
                            <p class="inner-footer-two-left">Ciudad de México</p>
                            <p class="inner-footer-two-left">México D.F.</p>
                            <p class="inner-footer-two-left">México</p>
                        </div>
                        <div class="col-6">
                            <p class="inner-footer-two-right">+52 531 123 54 23</p>
                            <p class="inner-footer-two-right">+52 531 123 54 23</p>
                            <p class="inner-footer-two-right">Info@artelibre.mx</p>
                            <p class="inner-footer-two-right">clientes@artelibre.mx</p>
                            <p class="inner-footer-two-right gold"><b>Todos los derechos reservados</b></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="w-100 my-1 text-center mt-4">
                    <h2 class="copyright gold">ArteLibre © 2020</h2>
                    <h2 class="design-credit"><span class="traslucent-credit">Designed & developed by </span><a href="#"
                            class="link-credits"><span class="gold">W</span>ero<span class="gold">LAB</span></a></h2>
                </div>
            </div>
        </div>
    </div>
</footer>