<a class="dropdown-item" href="#">Perfil</a>
<a class="dropdown-item" href="#">Mis Ventas</a>
<a class="dropdown-item" href="#">Obras</a>
<a class="dropdown-item" href="#">Colecciones</a>
<a class="dropdown-item" href="#">Eventos</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="#">Crear Evento</a>
