<a class="dropdown-item" href="#">Subastas</a>
<a class="dropdown-item" href="#">Eventos</a>
<a class="dropdown-item" href="#">Artistas</a>
<a class="dropdown-item" href="#">Obras</a>
<a class="dropdown-item" href="#">Colecciones</a>
<a class="dropdown-item" href="#">Clientes</a>
<a class="dropdown-item" href="#">Tasas</a>
<a class="dropdown-item" href="#">Rendimiento</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="#">Cerrar sesión</a>
