<a class="dropdown-item" href="/cliente/historial">Historial</a>
<a class="dropdown-item" href="/cliente/Compras">Mis Compras</a>
<a class="dropdown-item" href="/cliente/perfil">Perfil</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="/logout">Cerrar Sesión</a>