<a class="dropdown-item" href="/cliente/Compras"><span class="d-flex justify-content-between"><span>Mis Compras {{#ifCond carrito 1}}</span><b class="counter-carrito">4</b> {{/ifCond}}</span></a>
<a class="dropdown-item" href="/cliente/historial">Historial</a>
<a class="dropdown-item" href="/cliente/perfil">Perfil</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="/logout">Cerrar Sesión</a>