<a class="dropdown-item" href="/admin/dashboard">Dashboards</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="/admin/artistas">Artistas</a>
<a class="dropdown-item" href="/admin/obras">Obras</a>
<a class="dropdown-item" href="/admin/colecciones">Colecciones</a>
<a class="dropdown-item" href="/admin/eventos">Eventos</a>
<a class="dropdown-item" href="/admin/subastas">Subastas</a>
<a class="dropdown-item" href="/admin/clientes">Clientes</a>
<a class="dropdown-item" href="/admin/tasas">Tasas</a>
<a class="dropdown-item" href="/admin/rendimiento">Rendimiento</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item"  href="/logout">Cerrar sesión</a>
