<a class="dropdown-item" href="/artist-perfil">Perfil</a>
<a class="dropdown-item" href="/artista/dashboard">Dashboard</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="/nueva-obra">Publicar Obra</a>
<a class="dropdown-item" href="/nueva-coleccion">Crear Colección</a>
<a class="dropdown-item" href="/nuevo-evento">Crear Evento</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="/logout">Cerrar Sesión</a>

