{{> Navigation }}
{{> adminSidebar }}

<div class="container">
    <div class="content">
        <div class="m-5">
            <h2>Clientes</h2>
        </div>
        <div class="section ventas">
            <div class="w-100 text-left mx-auto mb-3 d-inline">
                <input type="text" class="d-inline mr-5 w-25 form-control badge-pill filter-form form-control-sm" placeholder="Buscar" id="inlineFormCustomSelectPref">
                <button type="submit" class="d-inline badge badge-pill btn-compra"><i class="fas fa-search"></i></button>
            </div>
            <div class="tabla mis-ventas">
                <table class="table table-borderless my-5">
                    <thead style="background-color: #bda00899;">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Artista</th>
                            <th scope="col">Ubicación</th>
                            <th scope="col">Piezas</th>
                            <th scope="col">ID</th>
                            <th scope="col">Valor promedio</th>
                            <th scope="col">Rendimiento</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="ml-5">
                            <!-- Enlace a la Obra, vista como el cliente -->
                            <td><button data-toggle="modal" data-target="#datos-obra-modal" class="titulo-mis-obras">
                                    <h2 style="font-weight: bold;">Musas</h2>
                                </button></td>
                            <!-- Enlace a la colección de la obra -->
                            <td>Lilah Steel</td>
                            <td><a href="#" class="coleccion-mis-obras">New Hampshire</a></td>
                            <td>12</td>
                            <!-- Estilo y Precio definidos durante la creación de la obra -->
                            <td class="text-muted">1AB3B14JK1</td>
                            <!-- Precio sugerido por el administrador, si no ha sugerido aparece vacio -->
                            <td class="gold">75.900 MXN</td>
                            <td class="gold">149.000 MXN</td>
                            <!-- Acción de editar esta obra, redirige a "Editar Obra" -->
                            <td><a href="#" class="accion-editar">Borrar/Ocultar/Contactar</a></td>
                        </tr>
                        <tr class="ml-5">
                            <!-- Enlace a la Obra, vista como el cliente -->
                            <td><button data-toggle="modal" data-target="#datos-obra-modal" class="titulo-mis-obras">
                                    <h2 style="font-weight: bold;">Musas</h2>
                                </button></td>
                            <!-- Enlace a la colección de la obra -->
                            <td>Lilah Steel</td>
                            <td><a href="#" class="coleccion-mis-obras">New Hampshire</a></td>
                            <td>12</td>
                            <!-- Estilo y Precio definidos durante la creación de la obra -->
                            <td class="text-muted">1AB3B14JK1</td>
                            <!-- Precio sugerido por el administrador, si no ha sugerido aparece vacio -->
                            <td class="gold">75.900 MXN</td>
                            <td class="gold">149.000 MXN</td>
                            <!-- Acción de editar esta obra, redirige a "Editar Obra" -->
                            <td><a href="#" class="accion-editar">Borrar/Ocultar/Contactar</a></td>
                        </tr>
                        <tr class="ml-5">
                            <!-- Enlace a la Obra, vista como el cliente -->
                            <td><button data-toggle="modal" data-target="#datos-obra-modal" class="titulo-mis-obras">
                                    <h2 style="font-weight: bold;">Musas</h2>
                                </button></td>
                            <!-- Enlace a la colección de la obra -->
                            <td>Lilah Steel</td>
                            <td><a href="#" class="coleccion-mis-obras">New Hampshire</a></td>
                            <td>12</td>
                            <!-- Estilo y Precio definidos durante la creación de la obra -->
                            <td class="text-muted">1AB3B14JK1</td>
                            <!-- Precio sugerido por el administrador, si no ha sugerido aparece vacio -->
                            <td class="gold">75.900 MXN</td>
                            <td class="gold">149.000 MXN</td>
                            <!-- Acción de editar esta obra, redirige a "Editar Obra" -->
                            <td><a href="#" class="accion-editar">Borrar/Ocultar/Contactar</a></td>
                        </tr>
                        <tr class="ml-5">
                            <!-- Enlace a la Obra, vista como el cliente -->
                            <td><button data-toggle="modal" data-target="#datos-obra-modal" class="titulo-mis-obras">
                                    <h2 style="font-weight: bold;">Musas</h2>
                                </button></td>
                            <!-- Enlace a la colección de la obra -->
                            <td>Lilah Steel</td>
                            <td><a href="#" class="coleccion-mis-obras">New Hampshire</a></td>
                            <td>12</td>
                            <!-- Estilo y Precio definidos durante la creación de la obra -->
                            <td class="text-muted">1AB3B14JK1</td>
                            <!-- Precio sugerido por el administrador, si no ha sugerido aparece vacio -->
                            <td class="gold">75.900 MXN</td>
                            <td class="gold">149.000 MXN</td>
                            <!-- Acción de editar esta obra, redirige a "Editar Obra" -->
                            <td><a href="#" class="accion-editar">Borrar/Ocultar/Contactar</a></td>
                        </tr>
                        <tr class="ml-5">
                            <!-- Enlace a la Obra, vista como el cliente -->
                            <td><button data-toggle="modal" data-target="#datos-obra-modal" class="titulo-mis-obras">
                                    <h2 style="font-weight: bold;">Musas</h2>
                                </button></td>
                            <!-- Enlace a la colección de la obra -->
                            <td>Lilah Steel</td>
                            <td><a href="#" class="coleccion-mis-obras">New Hampshire</a></td>
                            <td>12</td>
                            <!-- Estilo y Precio definidos durante la creación de la obra -->
                            <td class="text-muted">1AB3B14JK1</td>
                            <!-- Precio sugerido por el administrador, si no ha sugerido aparece vacio -->
                            <td class="gold">75.900 MXN</td>
                            <td class="gold">149.000 MXN</td>
                            <!-- Acción de editar esta obra, redirige a "Editar Obra" -->
                            <td><a href="#" class="accion-editar">Borrar/Ocultar/Contactar</a></td>
                        </tr>
                        <tr class="ml-5">
                            <!-- Enlace a la Obra, vista como el cliente -->
                            <td><button data-toggle="modal" data-target="#datos-obra-modal" class="titulo-mis-obras">
                                    <h2 style="font-weight: bold;">Musas</h2>
                                </button></td>
                            <!-- Enlace a la colección de la obra -->
                            <td>Lilah Steel</td>
                            <td><a href="#" class="coleccion-mis-obras">New Hampshire</a></td>
                            <td>12</td>
                            <!-- Estilo y Precio definidos durante la creación de la obra -->
                            <td class="text-muted">1AB3B14JK1</td>
                            <!-- Precio sugerido por el administrador, si no ha sugerido aparece vacio -->
                            <td class="gold">75.900 MXN</td>
                            <td class="gold">149.000 MXN</td>
                            <!-- Acción de editar esta obra, redirige a "Editar Obra" -->
                            <td><a href="#" class="accion-editar">Borrar/Ocultar/Contactar</a></td>
                        </tr>
                        <tr class="ml-5">
                            <!-- Enlace a la Obra, vista como el cliente -->
                            <td><button data-toggle="modal" data-target="#datos-obra-modal" class="titulo-mis-obras">
                                    <h2 style="font-weight: bold;">Musas</h2>
                                </button></td>
                            <!-- Enlace a la colección de la obra -->
                            <td>Lilah Steel</td>
                            <td><a href="#" class="coleccion-mis-obras">New Hampshire</a></td>
                            <td>12</td>
                            <!-- Estilo y Precio definidos durante la creación de la obra -->
                            <td class="text-muted">1AB3B14JK1</td>
                            <!-- Precio sugerido por el administrador, si no ha sugerido aparece vacio -->
                            <td class="gold">75.900 MXN</td>
                            <td class="gold">149.000 MXN</td>
                            <!-- Acción de editar esta obra, redirige a "Editar Obra" -->
                            <td><a href="#" class="accion-editar">Borrar/Ocultar/Contactar</a></td>
                        </tr>
                        <tr class="ml-5">
                            <!-- Enlace a la Obra, vista como el cliente -->
                            <td><button data-toggle="modal" data-target="#datos-obra-modal" class="titulo-mis-obras">
                                    <h2 style="font-weight: bold;">Musas</h2>
                                </button></td>
                            <!-- Enlace a la colección de la obra -->
                            <td>Lilah Steel</td>
                            <td><a href="#" class="coleccion-mis-obras">New Hampshire</a></td>
                            <td>12</td>
                            <!-- Estilo y Precio definidos durante la creación de la obra -->
                            <td class="text-muted">1AB3B14JK1</td>
                            <!-- Precio sugerido por el administrador, si no ha sugerido aparece vacio -->
                            <td class="gold">75.900 MXN</td>
                            <td class="gold">149.000 MXN</td>
                            <!-- Acción de editar esta obra, redirige a "Editar Obra" -->
                            <td><a href="#" class="accion-editar">Borrar/Ocultar/Contactar</a></td>
                        </tr>
                        <tr class="ml-5">
                            <!-- Enlace a la Obra, vista como el cliente -->
                            <td><button data-toggle="modal" data-target="#datos-obra-modal" class="titulo-mis-obras">
                                    <h2 style="font-weight: bold;">Musas</h2>
                                </button></td>
                            <!-- Enlace a la colección de la obra -->
                            <td>Lilah Steel</td>
                            <td><a href="#" class="coleccion-mis-obras">New Hampshire</a></td>
                            <td>12</td>
                            <!-- Estilo y Precio definidos durante la creación de la obra -->
                            <td class="text-muted">1AB3B14JK1</td>
                            <!-- Precio sugerido por el administrador, si no ha sugerido aparece vacio -->
                            <td class="gold">75.900 MXN</td>
                            <td class="gold">149.000 MXN</td>
                            <!-- Acción de editar esta obra, redirige a "Editar Obra" -->
                            <td><a href="#" class="accion-editar">Borrar/Ocultar/Contactar</a></td>
                        </tr>
                        <tr class="ml-5">
                            <!-- Enlace a la Obra, vista como el cliente -->
                            <td><button data-toggle="modal" data-target="#datos-obra-modal" class="titulo-mis-obras">
                                    <h2 style="font-weight: bold;">Musas</h2>
                                </button></td>
                            <!-- Enlace a la colección de la obra -->
                            <td>Lilah Steel</td>
                            <td><a href="#" class="coleccion-mis-obras">New Hampshire</a></td>
                            <td>12</td>
                            <!-- Estilo y Precio definidos durante la creación de la obra -->
                            <td class="text-muted">1AB3B14JK1</td>
                            <!-- Precio sugerido por el administrador, si no ha sugerido aparece vacio -->
                            <td class="gold">75.900 MXN</td>
                            <td class="gold">149.000 MXN</td>
                            <!-- Acción de editar esta obra, redirige a "Editar Obra" -->
                            <td><a href="#" class="accion-editar">Borrar/Ocultar/Contactar</a></td>
                        </tr>
                        <tr class="ml-5">
                            <!-- Enlace a la Obra, vista como el cliente -->
                            <td><button data-toggle="modal" data-target="#datos-obra-modal" class="titulo-mis-obras">
                                    <h2 style="font-weight: bold;">Musas</h2>
                                </button></td>
                            <!-- Enlace a la colección de la obra -->
                            <td>Lilah Steel</td>
                            <td><a href="#" class="coleccion-mis-obras">New Hampshire</a></td>
                            <td>12</td>
                            <!-- Estilo y Precio definidos durante la creación de la obra -->
                            <td class="text-muted">1AB3B14JK1</td>
                            <!-- Precio sugerido por el administrador, si no ha sugerido aparece vacio -->
                            <td class="gold">75.900 MXN</td>
                            <td class="gold">149.000 MXN</td>
                            <!-- Acción de editar esta obra, redirige a "Editar Obra" -->
                            <td><a href="#" class="accion-editar">Borrar/Ocultar/Contactar</a></td>
                        </tr>
                        <tr class="ml-5">
                            <!-- Enlace a la Obra, vista como el cliente -->
                            <td><button data-toggle="modal" data-target="#datos-obra-modal" class="titulo-mis-obras">
                                    <h2 style="font-weight: bold;">Musas</h2>
                                </button></td>
                            <!-- Enlace a la colección de la obra -->
                            <td>Lilah Steel</td>
                            <td><a href="#" class="coleccion-mis-obras">New Hampshire</a></td>
                            <td>12</td>
                            <!-- Estilo y Precio definidos durante la creación de la obra -->
                            <td class="text-muted">1AB3B14JK1</td>
                            <!-- Precio sugerido por el administrador, si no ha sugerido aparece vacio -->
                            <td class="gold">75.900 MXN</td>
                            <td class="gold">149.000 MXN</td>
                            <!-- Acción de editar esta obra, redirige a "Editar Obra" -->
                            <td><a href="#" class="accion-editar">Borrar/Ocultar/Contactar</a></td>
                        </tr>
                        <tr class="ml-5">
                            <!-- Enlace a la Obra, vista como el cliente -->
                            <td><button data-toggle="modal" data-target="#datos-obra-modal" class="titulo-mis-obras">
                                    <h2 style="font-weight: bold;">Musas</h2>
                                </button></td>
                            <!-- Enlace a la colección de la obra -->
                            <td>Lilah Steel</td>
                            <td><a href="#" class="coleccion-mis-obras">New Hampshire</a></td>
                            <td>12</td>
                            <!-- Estilo y Precio definidos durante la creación de la obra -->
                            <td class="text-muted">1AB3B14JK1</td>
                            <!-- Precio sugerido por el administrador, si no ha sugerido aparece vacio -->
                            <td class="gold">75.900 MXN</td>
                            <td class="gold">149.000 MXN</td>
                            <!-- Acción de editar esta obra, redirige a "Editar Obra" -->
                            <td><a href="#" class="accion-editar">Borrar/Ocultar/Contactar</a></td>
                        </tr>
                        <tr class="ml-5">
                            <!-- Enlace a la Obra, vista como el cliente -->
                            <td><button data-toggle="modal" data-target="#datos-obra-modal" class="titulo-mis-obras">
                                    <h2 style="font-weight: bold;">Musas</h2>
                                </button></td>
                            <!-- Enlace a la colección de la obra -->
                            <td>Lilah Steel</td>
                            <td><a href="#" class="coleccion-mis-obras">New Hampshire</a></td>
                            <td>12</td>
                            <!-- Estilo y Precio definidos durante la creación de la obra -->
                            <td class="text-muted">1AB3B14JK1</td>
                            <!-- Precio sugerido por el administrador, si no ha sugerido aparece vacio -->
                            <td class="gold">75.900 MXN</td>
                            <td class="gold">149.000 MXN</td>
                            <!-- Acción de editar esta obra, redirige a "Editar Obra" -->
                            <td><a href="#" class="accion-editar">Borrar/Ocultar/Contactar</a></td>
                        </tr>
                        <tr class="ml-5">
                            <!-- Enlace a la Obra, vista como el cliente -->
                            <td><button data-toggle="modal" data-target="#datos-obra-modal" class="titulo-mis-obras">
                                    <h2 style="font-weight: bold;">Musas</h2>
                                </button></td>
                            <!-- Enlace a la colección de la obra -->
                            <td>Lilah Steel</td>
                            <td><a href="#" class="coleccion-mis-obras">New Hampshire</a></td>
                            <td>12</td>
                            <!-- Estilo y Precio definidos durante la creación de la obra -->
                            <td class="text-muted">1AB3B14JK1</td>
                            <!-- Precio sugerido por el administrador, si no ha sugerido aparece vacio -->
                            <td class="gold">75.900 MXN</td>
                            <td class="gold">149.000 MXN</td>
                            <!-- Acción de editar esta obra, redirige a "Editar Obra" -->
                            <td><a href="#" class="accion-editar">Borrar/Ocultar/Contactar</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{> sidebarEnd }}
{{> Footer }}