{{> Navigation }}

{{> adminSidebar }}

<div class="bg-light h-100">
    <div class="container">
        <div class="row mt-3 mb-3">
            <div class="col-12">
                <small style="color: var(--gold);">Resumen semanal</small>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="tarjeta-dashboard-admin">
                    <div class="inner-tarjeta-dashboard">
                        <span class="gold">Transacciones</span>
                        <i class="text-white">78</i>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="tarjeta-dashboard-admin">
                    <div class="inner-tarjeta-dashboard">
                        <span class="gold">Ingresos</span>
                        <i class="text-white">98.000 MXN</i>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="tarjeta-dashboard-admin">
                    <div class="inner-tarjeta-dashboard">
                        <span class="gold">Nuevos Registros</span>
                        <i class="text-white">21</i>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="tarjeta-dashboard-admin">
                    <div class="inner-tarjeta-dashboard">
                        <span class="gold">Eventos</span>
                        <i class="text-white">5</i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-lg-3">
                <div class="row">
                    <div class="col-12 mb-3">
                        <div class="card bg-dark tarjeta-card-dashboard h-100">
                            <img class="card-img" src="/images/vangogh1.jpg" alt="Card image">
                            <div class="card-img-overlay ultima-obra-admin-dashboard">
                                <small class="card-title gold"><i>Última obra</i></small>
                                <h3 class="titulo-obra-card-dashboard"><a href="">Nombre de la obra</a></h3>
                                <p class="card-text text-white">Nombre del artista</p>
                                <p class="card-text gold">12.000 MXN</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <div class="card galeria-mas-visitada-dashboard h-100">
                            <div class="card-body">
                                <div class="card-title gold"><small><i>Galería más visitada</i></small></div>
                                <h3>Jean Claude Monet</h3>
                                <p class="card-text">La Haya, Holanda</p>
                                <p class="card-text gold">43 Piezas</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="row">
                    <div class="col-12 mb-3">
                        <div class="card ultima-coleccion-dashboard h-100">
                            <div class="card-body">
                                <div class="card-title gold"><small><i>Última Colección</i></small></div>
                                <h3>Repensando el Modernismo</h3>
                                <p class="card-text">Jean Baptiste Monet</p>
                                <p class="card-text gold">14 Piezas</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <div class="card bg-dark tarjeta-card-dashboard h-100">
                            <img class="card-img" src="/images/vangogh3.jpg" alt="Card image">
                            <div class="card-img-overlay obra-visitada-admin-dashboard">
                                <small class="card-title gold"><i>Obra más visitada</i></small>
                                <h3 class="titulo-obra-card-dashboard"><a href="">Nombre de la obra</a></h3>
                                <p class="card-text gold">12.000 MXN</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="artistas-relevantes-admin-dashboard">
                            <div class="table-responsive">
                                <table class="table table-sm tabla-dashboard-admin m-0">
                                    <thead>
                                        <tr>
                                            <th>Artistas más relevantes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="#">Artista 1</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Artista 2</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Artista 3</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="proximas-subastas-admin-dashboard">
                            <div class="table-responsive">
                                <table class="table table-sm tabla-dashboard-admin m-0">
                                    <thead>
                                        <tr>
                                            <th>Proximas Subastas</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="#">Subasta 1</a></td>
                                            <td>06 - 12 - 2020</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Subasta 2</a></td>
                                            <td>06 - 12 - 2020</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Subasta 3</a></td>
                                            <td>06 - 12 - 2020</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="proximos-eventos-admin-dashboard">
                            <div class="table-responsive">
                                <table class="table table-sm tabla-dashboard-admin m-0">
                                    <thead>
                                        <tr>
                                            <th>Próximos Eventos</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="#">Evento 1</a></td>
                                            <td>05 - 09 - 2020</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Evento 2</a></td>
                                            <td>05 - 09 - 2020</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Evento 3</a></td>
                                            <td>05 - 09 - 2020</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{{> sidebarEnd }}

{{> Footer }}