<!-- Modal Obra -->
<div class="modal fade" id="datos-obra-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="">
                            <img class="img-fluid" src="/images/vangogh1.jpg" alt="girasoles">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Nombre de la obra</h5>
                                    <h4 class="">Los Girasoles #13</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Artista</h5>
                                    <h4 class="">Vincent Van Gogh</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">ID</h5>
                                    <h4 class="">AHSDKJHALKSD13413KJK</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Ubicación de la obra</h5>
                                    <h4 class="">La Haya, Holanda</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Estado</h5>
                                    <h4 class="">Publicada</h4>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Precio base</h5>
                                    <h4 class="">75.000 MXN</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Fecha de inicio</h5>
                                    <h4 class="">20 - 05 - 2020</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Número de pujas</h5>
                                    <h4 class="">20</h4>
                                </div>
                                <div class="py-2 my-3">
                                    <h5 class="text-muted">Mayor puja</h5>
                                    <h4 class="">143.000 MXN</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Borrar -->
<div class="modal fade" id="borrar-obra" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Borrar obra</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar esta obra? Esta acción es permanente, se perderan todos los
                    datos que corresponden a esta obra.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger">Eliminar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal cancelar -->
<div class="modal fade" id="cancelar-obra" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cancelar obra</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas cancelar esta obra? Esta acción durará un tiempo indefinido hasta
                    que decidas volver a publicar la subasta.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger">Cancelar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal publicar -->
<div class="modal fade" id="publicar-obra" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Publicar obra</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="">
                <div class="modal-body">
                    <p>¿Estás seguro de que deseas publicar esta obra? Esta acción lo llevará a mostrarse en la
                        sección de subastas.</p>
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="form-group">
                                <label for="precio-base">Precio base</label>
                                <!-- Valor dicho por el artista, como sugerencia en el placeholder-->
                                <input name="precio-base" type="number" placeholder="75.000" class="form-control" id="precio-base" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="form-group">
                                <label for="fecha-inicio">Fecha de inicio</label>
                                <input name="fecha-inicio" type="date" class="form-control" id="fecha-inicio" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="form-group">
                                <label for="hora-inicio">Hora de inicio</label>
                                <input name="hora-inicio" type="time" class="form-control" id="hora-inicio" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="form-group">
                                <label for="duracion">Duración</label>
                                <input name="duracion" type="number" placeholder="Horas de duración" class="form-control" id="duracion" />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="text-descripcion">Escriba la información que desea que acompañe a la obra en
                                    la sección "Subastas" sustituyendo la descripción de la pieza en caso de tenerla.
                                    (OPCIONAL)</label>
                                <textarea name="text-descripcion" class="form-control" id="text-descripcion" cols="30"
                                    rows="10"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-accion-admin">Publicar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{> Navigation }}
{{> adminSidebar }}

<div class="container-fluid">
    <div class="content-admin">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="m-5">
                    <h2>Subastas</h2>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="row filtro-lista h-100">
                    <div class="col-10">
                        <input type="text" class="d-inline form-control badge-pill filter-form form-control-sm"
                            placeholder="Buscar" id="inlineFormCustomSelectPref">
                    </div>
                    <div class="col-2">
                        <button type="submit" class="d-inline badge badge-pill btn-compra"><i
                                class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="section ventas">
            <div class="tabla mis-ventas">
                <table class="table table-borderless my-5">
                    <thead style="background-color: #bda00899;">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">obra</th>
                            <th scope="col">Ubicación</th>
                            <th scope="col">ID</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Estilo</th>
                            <th scope="col">Precio base</th>
                            <th scope="col">Fecha de inicio</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="ml-5">
                            <!-- Enlace a la Obra, vista como el cliente -->
                            <td><button data-toggle="modal" data-target="#datos-obra-modal" class="titulo-mis-obras">
                                    <h2 style="font-weight: bold;">Esperanza</h2>
                                </button></td>
                            <!-- Enlace a la colección de la obra -->
                            <td>Lilah Steel</td>
                            <td><span class="coleccion-mis-obras">New Hampshire</span></td>
                            <!-- Estilo y Precio definidos durante la creación de la obra -->
                            <td class="text-muted">1AB3B14JK1</td>
                            <!-- Precio sugerido por el administrador, si no ha sugerido aparece vacio -->
                            <td class="text-muted">Pintura</td>
                            <td class="text-muted">Oleo sobre tela</td>
                            <td class="gold">75.900 MXN</td>
                            <td class="gold">28 - 06 - 2020</td>
                            <!-- Acción de editar esta obra, redirige a "Editar Obra" -->
                            <td>
                                <div class="opciones-admin-list">
                                    <button data-toggle="modal" data-target="#borrar-obra" class="borrar"><i
                                            class="fas fa-trash"></i></button>
                                    <button data-toggle="modal" data-target="#publicar-obra" class="publicar"><i
                                            class="fas fa-upload"></i></button>
                                    <button data-toggle="modal" data-target="#cancelar-obra" class="cancelar"><i
                                            class="far fa-times-circle"></i></button>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{> sidebarEnd }}
{{> Footer }}