{{> Navigation }}
{{> adminSidebar }}

<div class="container">
    <div class="content">
        <div class="m-5">
            <h2>Tasas</h2>
        </div>
        
    </div>
</div>

{{> sidebarEnd }}
{{> Footer }}