<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ArteLibre</title>
	
	<!-- Estilos -->
	<link rel="stylesheet" href="bootstrapcss/bootstrap.min.css">
	<link rel="stylesheet" href="owl-carousel/css/owl.carousel.min.css">
	<link rel="stylesheet" href="owl-carousel/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="jquery/jquery.min.js"></script>
</head>

	{{{ body }}}

	<script src="owl-carousel/js/owl.carousel.min.js"></script>
	<script src="bootstrapjs/bootstrap.min.js"></script>
</body>
</html>