<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ArteLibre</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="/images/logos/favicon.png" type="image/png">
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
		name='viewport' />
	<!-- Estilos -->
	<link rel="stylesheet" href="/bootstrapcss/bootstrap.min.css">
	<link rel="stylesheet" href="/fontawesome/all.css">
	<link rel="stylesheet" href="/owl-carousel/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/owl-carousel/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<script src="/jquery/jquery.min.js"></script>
</head>

{{{ body }}}

<script src="/js/scripts.js"></script>
<script src="/owl-carousel/js/owl.carousel.min.js"></script>
<script src="/bootstrapjs/bootstrap.min.js"></script>
<script src="/fontawesomejs/all.js"></script>
</body>

</html>