{{> Navigation }}
{{> messages }}


<style>
    .label {
        cursor: pointer;
    }

    .progress {
        display: none;
        margin-bottom: 1rem;
    }

    .alert {
        display: none;
    }

    .img-container img {
        width: 800px;
        height: auto;
    }
</style>


<div class="container" style="margin-top: 6em;">
    <div class="m-5">
        <h1 class="gold">Nuevo Artista</h1>
    </div>
    <form action="registro-artista" class="form" method="POST" enctype="multipart/form-data">
        <div class="row mb-5">
            <div class="col-12 col-lg-3 text-center">
                <label class="label" data-toggle="tooltip" for="input-image" title="Escoge tu foto">
                    <div class="foto-container">
                        <div class="w-100 h-100 d-flex">
                            <div class="m-auto">
                                <span class="m-auto">
                                    Agregar foto
                                </span>
                            </div>
                        </div>
                        <img class="rounded img-perfil-registro" id="imgSalida" src="" alt="">
                        <input type="hidden" id="image-hidden" name="image">
                        <input type="file" class="sr-only" id="input-image" name="image" accept="image/*">
                    </div>
                </label>
                <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel">Crop the image</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="img-container">
                                    <img id="image" src="">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-compra" id="crop">Cortar</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div>
                    <small class="text-muted mb-0 pb-0">Para cambiarla haz click de nuevo</small>
                </div>
            </div>
            <div class="col-12 col-lg-9">
                <div class="row m-3">
                    <div class="col-12 col-lg-6  mb-3">
                        <div class="form-group">
                            <input type="text" class="form-control" id="nombre" aria-describedby="nombre"
                                placeholder="Nombre" name="fullname" required>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6  mb-3">
                        <div class="form-group">
                            <input type="text" class="form-control" id="apellido" aria-describedby="apellid"
                                placeholder="Apellido" name="apellido" required>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6  mb-3">
                        <div class="form-group">
                            <input type="email" class="form-control" id="correo" aria-describedby="correo"
                                placeholder="Correo electrónico" name="email" required>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6  mb-3">
                        <div class="form-group pd-telephone-input">
                            <input type="tel" class="form-control telefono" id="telefono" aria-describedby="telefono"
                                name="telefono" required>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6  mb-3">
                        <div class="form-group">
                            <input type="text" class="form-control" id="pais" aria-describedby="pais" placeholder="País"
                                name="pais" required>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6  mb-3">
                        <div class="form-group">
                            <input type="text" class="form-control" id="povincia" aria-describedby="provincia"
                                placeholder="Ciudad (Provincia)" name="provincia" required>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <div class="form-group">
                            <input type="text" class="form-control" id="direccion" aria-describedby="direccion"
                                placeholder="Dirección (Facturación)" name="direccion" required>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6  mb-3">
                        <div class="form-group">
                            <input type="number" class="form-control" id="años" aria-describedby="años"
                                placeholder="Años de actividad" name="años" required>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 mb-3">
                        <div class="form-group">
                            <select name="tipo-principal" id="tipo" class="form-control">
                                <option value="">Tipo (Principal)</option>
                                <option value="pintura">Pintura</option>
                                <option value="escultura">Escultura</option>
                                <option value="fotografia" disabled>Fotografía</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6  mb-3">
                        <div class="form-group">
                            <input type="text" class="form-control" id="disciplina" aria-describedby="tecnica"
                                placeholder="Estilo" name="disciplina_principal" required>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6  mb-3">
                        <div class="form-group">
                            <input type="text" class="form-control" id="disciplina2" aria-describedby="tecnica"
                                placeholder="Técnica (Principal)" name="disciplina_sec" required>
                        </div>
                    </div>
                    <div class="col-12  mb-3">
                        <div class="form-group">
                            <input type="text" class="form-control" id="estilo" aria-describedby="estilo"
                                placeholder="Tu estilo en una frase" name="frase">
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <div class="form-group">
                            <textarea class="form-control" id="biografia" aria-describedby="biografia"
                                placeholder="Biografía" name="briografia" required></textarea>
                        </div>
                    </div>
                    <div class="border-bottom mb-5 col-12"></div>
                    <div class="col-12 col-lg-6  mb-3">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="password" class="form-control m-0" placeholder="Contraseña" name="password"
                                    aria-label="Contraseña" aria-describedby="Contraseña" id="pwd" minlength="8"
                                    required pattern="(?=.*\d)(?=.*[a-záéíóúüñ]).*[A-ZÁÉÍÓÚÜÑ].*" data-toggle="tooltip"
                                    title="Debe contener al menos una mayúscula, una minúscula y un dígito, y ser al menos de 8 caracteres">
                                <div class="input-group-append">
                                    <div class="input-group-text" id="eye" style="cursor: pointer;"><i
                                            class="fa fa-eye"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6  mb-3">
                        <div class="form-group">
                            <div id="contraseñaConfirmada" class="input-group">
                                <input type="password" class="form-control m-0" name="confirmarContraseña"
                                    placeholder="Confirmar Contraseña" aria-label="Contraseña" minlength="8"
                                    aria-describedby="Contraseña" id="pwdDos">
                                <div class="input-group-append">
                                    <div class="input-group-text" id="eyeDos" style="cursor: pointer;"><i
                                            class="fa fa-eye"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-right">
                        <button class="btn btn-compra" type="submit" name='tipo' id="buttonSubmit"
                            value="artista">Registrarme</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{{> Footer }}

<script src="/js/intlTelInput-jquery.min.js"></script>
<script src="/cropper/cropper.min.js"></script>
<script>


    $(document).ready(function () {

        // Iniciar Lada para el input telefonico (Usa plugin IntlTelInput)
        $('#telefono').intlTelInput({
            preferredCountries: ['mx', 'us', 'co', 've'],
            separateDialCode: true,
            nationalMode: false,
            initialCountry: 'auto',
            geoIpLookup: function (success, failure) {
                $.get("https://ipinfo.io", function () { }, "jsonp").always(function (resp) {
                    var countryCode = (resp && resp.country) ? resp.country : "";
                    success(countryCode);
                });
            },
            utilsScript: '/js/utils.js'
        });

        //variables
        let pass1 = $('[name=password]');
        let pass2 = $('[name=confirmarContraseña]');
        let cofirmada = $('#contraseñaConfirmada')
        let confirmacion = "Perfecto, las contraseñas coinciden";
        let negacion = "No coinciden las contraseñas";
        let insuficiente = "La contraseña no es segura";
        //configuro la expresión regular para evaluar
        let reg = /(?=.*\d)(?=.*[a-záéíóúüñ]).*[A-ZÁÉÍÓÚÜÑ].*/
        let vacio = "La contraseña no puede estar vacía";
        //llamo al boton de envio para poder activarlo
        let bsubmit = document.getElementById('buttonSubmit');
        //oculto por defecto el elemento span
        let span = $('<small style="position: relative;"></small>').insertAfter(cofirmada);
        span.hide();
        //función que comprueba las dos contraseñas
        function coincidePassword() {
            let valor1 = pass1.val();
            let valor2 = pass2.val();
            //muestro el span
            span.show().removeClass();
            //condiciones dentro de la función
            if (valor1 != valor2) {
                span.text(negacion).addClass('text-danger');
            }
            if (valor1.length == 0 || valor1 == "") {
                span.text(vacio).addClass('text-danger');
            }
            if (reg.test(valor1) != true || reg.test(valor2) || valor1 < 8) {
                span.text(insuficiente).addClass("text-danger")
            }
            if (valor1.length >= 8 && reg.test(valor1) == true && reg.test(valor2) == true && valor1 == valor2) {
                span.text(confirmacion).removeClass("text-danger").addClass('text-success');
                bsubmit.removeAttribute('disabled')
            }
        }
        //ejecuto la función al soltar la tecla
        pass1.keyup(function () {
            coincidePassword();
        });
        pass2.keyup(function () {
            coincidePassword();
        });

        let pwd = document.getElementById('pwd');
        let eye = document.getElementById('eye');

        eye.addEventListener('click', togglePass);

        function togglePass() {
            eye.classList.toggle('activePass');

            (pwd.type == 'password') ? pwd.type = 'text' : pwd.type = 'password';
        }

        let pwdDos = document.getElementById('pwdDos');
        let eyeDos = document.getElementById('eyeDos');

        eyeDos.addEventListener('click', togglePassDos);

        function togglePassDos() {

            eyeDos.classList.toggle('activePass');

            (pwdDos.type == 'password') ? pwdDos.type = 'text' : pwdDos.type = 'password';
        }

        var avatar = document.getElementById('imgSalida');
        var image = document.getElementById('image');
        var input = document.getElementById('input-image');
        let imageHidden = document.getElementById('image-hidden');
        var $modal = $('#modal');
        var cropper;

        $('[data-toggle="tooltip"]').tooltip();

        input.addEventListener('change', function (e) {
            var files = e.target.files;
            var done = function (url) {
                input.value = '';
                image.src = url;
                $modal.modal('show');
            };
            var reader;
            var file;
            var url;

            if (files && files.length > 0) {
                file = files[0];

                if (URL) {
                    done(URL.createObjectURL(file));
                } else if (FileReader) {
                    reader = new FileReader();
                    reader.onload = function (e) {
                        done(reader.result);
                    };
                    reader.readAsDataURL(file);
                }
            }
        });

        $modal.on('shown.bs.modal', function () {
            cropper = new Cropper(image, {
                aspectRatio: .8,
                viewMode: 1,
            });
        }).on('hidden.bs.modal', function () {
            cropper.destroy();
            cropper = null;
        });

        document.getElementById('crop').addEventListener('click', function () {
            var initialAvatarURL;
            var canvas;

            $modal.modal('hide');

            if (cropper) {
                canvas = cropper.getCroppedCanvas({
                    width: 280,
                    height: 350,
                });
                initialAvatarURL = avatar.src;
                avatar.src = canvas.toDataURL('image/png', 1);
                imageHidden.value = canvas.toDataURL('image/png', 1)
            }
        });
    });
</script>