{{> Navigation }}
{{> messages }}

<div class="main">
    <div class="section bg-light login-arriba"></div>
    <div class="position-absolute card-inicio-sesion">
        <div class="card p-4">
            <div class="card-body">
                <h4 class="card-title mb-5">¡Bienvenido!</h4>
                <form action="/iniciar-sesion" method="POST">
                    <input type="email" name="email" id="email" placeholder="Correo Electrónico" class="form-control my-2">
                    <input type="password" name="password" id="password" placeholder="Contraseña" class="form-control my-2">
                    <div class="text-right">
                        <a href="/registro" class="btn btn-compra my-2">Registrarse</a>
                        <input type="submit" value="Iniciar Sesión" class="btn btn-compra my-2">
                        <span class="olvido-contraseña d-flex"><a data-toggle="modal" data-target="#basicExampleModal"
                                style="cursor: pointer;">Olvidé mi contraseña</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="section login-abajo"></div>
</div>

<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Recuperar contraseña</h4>
                <button type="button" class="close text-right" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/recuperar-contrasena" method="post">
                <div class="modal-body">
                    <p class="text-muted">
                        Para recuperar tu contraseña ingresa tu correo electrónico
                    </p>
                    <br>
                    <input type="email" class="form-control" name="email" id="emailRecuperar"
                        placeholder="Correo Electrónico">
                    <br>
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cerrar</button>
                    <input type="submit" class="btn btn-sm btn-recuperar" value="Recuperar" >
                </div>
            </form>
        </div>
    </div>
</div>